Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

.lintstagedrc.json:

{
	"*.js": ["eslint", "prettier"],
	"*.ts": ["eslint", "prettier"],
	"*.svelte": "prettier",
	"*.md": "prettier",
	"*.json": "prettier",
	"*.yaml": "prettier"
}

Updated CHANGELOG.md
  CHANGELOG.md
Due: prettier

Minor change on settings page
  src/routes/settings/+page.svelte
Due: prettier

deploy: 45eea4ba79153752fd0cca236c66554f103807ca
  changelog/index.html
  environment-variables/index.html
  sandbox/_app/immutable/chunks/singletons.bbdfbd4a.js
  sandbox/_app/immutable/chunks/singletons.d83c0e15.js
  sandbox/_app/immutable/entry/app.097e76aa.js
  sandbox/_app/immutable/entry/app.99192dcc.js
  sandbox/_app/immutable/entry/start.c9c0fb3e.js
  sandbox/_app/immutable/entry/start.f9eafbb3.js
  sandbox/_app/immutable/nodes/1.71802591.js
  sandbox/_app/immutable/nodes/1.ffae50ca.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
Due: eslint, prettier

Updated CHANGELOG.md and version-compatibility.md
  CHANGELOG.md
  docs/version-compatibility.md
Due: prettier

1.7.1
  package-lock.json
  package.json
Due: prettier

deploy: 3e94f5dd4c74fef712592e10f0cc379c6e743d00
  changelog/index.html
  sandbox/_app/immutable/chunks/singletons.bf64dd71.js
  sandbox/_app/immutable/chunks/singletons.d83c0e15.js
  sandbox/_app/immutable/entry/app.78bbc1df.js
  sandbox/_app/immutable/entry/app.99192dcc.js
  sandbox/_app/immutable/entry/start.3cee6110.js
  sandbox/_app/immutable/entry/start.c9c0fb3e.js
  sandbox/_app/immutable/nodes/1.71802591.js
  sandbox/_app/immutable/nodes/1.def292d6.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
  version-compatibility/index.html
Due: eslint, prettier

Supported viewer paths
  CHANGELOG.md
  __tests__/v2/admin_group_edit_page.test.js
  playwright.config.js
  src/lib/server/api/auth_api.js
  src/lib/types.d.ts
  src/routes/+layout.svelte
  src/routes/v2/admin/groups/+page.svelte
  src/routes/v2/admin/groups/[groupId]/+page.svelte
  src/routes/v2/admin/groups/[groupId]/edit/+page.svelte
  src/routes/viewer-paths/+page.server.js
  src/routes/viewer-paths/+page.svelte
  tests/v2/viewer_paths.spec.js
Due: eslint, prettier

Sorted groups by name in admin groups page
  src/routes/v2/admin/groups/+page.server.js
Due: eslint, prettier

deploy: 25fd21eaa941a3f38c7b90469dff303bed9e20fe
  changelog/index.html
  sandbox/_app/immutable/chunks/singletons.aec59bd8.js
  sandbox/_app/immutable/chunks/singletons.bf64dd71.js
  sandbox/_app/immutable/entry/app.1dc22af0.js
  sandbox/_app/immutable/entry/app.78bbc1df.js
  sandbox/_app/immutable/entry/start.3cee6110.js
  sandbox/_app/immutable/entry/start.7450dcdd.js
  sandbox/_app/immutable/nodes/1.8564dc2c.js
  sandbox/_app/immutable/nodes/1.def292d6.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
Due: eslint, prettier

Update CHANGELOG
  CHANGELOG.md
Due: prettier

1.7.2
  package-lock.json
  package.json
Due: prettier

deploy: dc0fab52f5eb0a4ebf7393c1347e7a20d365083f
  changelog/index.html
  sandbox/_app/immutable/chunks/singletons.aec59bd8.js
  sandbox/_app/immutable/chunks/singletons.b0606a3c.js
  sandbox/_app/immutable/entry/app.1dc22af0.js
  sandbox/_app/immutable/entry/app.2d2cec7a.js
  sandbox/_app/immutable/entry/start.469d8a3a.js
  sandbox/_app/immutable/entry/start.7450dcdd.js
  sandbox/_app/immutable/nodes/1.0cfe1746.js
  sandbox/_app/immutable/nodes/1.8564dc2c.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
Due: eslint, prettier

Update version-compatibility.md
  docs/version-compatibility.md
Due: prettier

deploy: fd51fa1842e9fc96be98eb54814b65e71d814447
  sandbox/_app/immutable/chunks/singletons.8efd4aa8.js
  sandbox/_app/immutable/chunks/singletons.b0606a3c.js
  sandbox/_app/immutable/entry/app.2d2cec7a.js
  sandbox/_app/immutable/entry/app.eac1f0ed.js
  sandbox/_app/immutable/entry/start.09944a87.js
  sandbox/_app/immutable/entry/start.469d8a3a.js
  sandbox/_app/immutable/nodes/1.0cfe1746.js
  sandbox/_app/immutable/nodes/1.66e99ddd.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
  version-compatibility/index.html
Due: eslint, prettier

Handled special case of Zarr URL containing fragment
  CHANGELOG.md
  src/routes/v2/projects/[projectId]/datasets/[datasetId]/+page.svelte
Due: prettier

Updated dependencies
  jschema/package-lock.json
  jschema/package.json
  package-lock.json
  package.json
  sandbox/package-lock.json
  sandbox/package.json
  sandbox/src/app.html
  src/app.html
Due: prettier

Changes to eslint configuration
  .eslintignore
  .eslintrc.cjs
  eslint.config.mjs
  jschema/.eslintignore
  jschema/.eslintrc.cjs
Due: none

Adapted code to Svelte 4
  __tests__/v1/JobLogsModal.test.js
  __tests__/v2/CreateDatasetModal.test.js
  __tests__/v2/RunWorkflowModal.test.js
  docs/development/structure.md
  jschema/src/lib/components/form_element.js
  jschema/src/lib/components/form_manager.js
  jschema/src/lib/components/jschema_validation.js
  jschema/src/lib/components/properties/EnumProperty.svelte
  jschema/src/lib/components/properties/TupleProperty.svelte
  sandbox/src/lib/components/DragAndDropUploader.svelte
  sandbox/svelte.config.js
  src/hooks.server.js
  src/lib/common/errors.js
  src/lib/common/workflow_utilities.js
  src/lib/components/common/DragAndDropUploader.svelte
  src/lib/components/common/filterable/Th.svelte
  src/lib/components/v1/tasks/AddSingleTask.svelte
  src/lib/components/v1/tasks/TaskInfoModal.svelte
  src/lib/components/v1/workflow/ImportExportArgs.svelte
  src/lib/components/v1/workflow/TaskInfoTab.svelte
  src/lib/components/v1/workflow/TasksOrderModal.svelte
  src/lib/components/v1/workflow/VersionUpdate.svelte
  src/lib/components/v2/projects/datasets/CreateDatasetModal.svelte
  src/lib/components/v2/tasks/AddSingleTask.svelte
  src/lib/components/v2/tasks/CustomEnvTask.svelte
  src/lib/components/v2/tasks/TaskInfoModal.svelte
  src/lib/components/v2/workflow/ImportExportArgs.svelte
  src/lib/components/v2/workflow/TaskInfoTab.svelte
  src/lib/components/v2/workflow/TasksOrderModal.svelte
  src/lib/components/v2/workflow/VersionUpdateFixArgs.svelte
  src/routes/auth/login/+page.server.js
  src/routes/auth/login/oauth2/+layout.server.js
  src/routes/v1/+layout.server.js
  src/routes/v1/projects/[projectId]/workflows/[workflowId]/+page.svelte
  src/routes/v2/admin/groups/[groupId]/edit/+page.svelte
  src/routes/v2/projects/[projectId]/datasets/[datasetId]/+page.svelte
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: eslint, prettier

Changes to the e2e tests after Svelte 4 migration
  tests/not_found.spec.js
  tests/utils.js
  tests/v1/jschema.spec.js
  tests/v2/admin_groups.spec.js
  tests/v2/jschema.spec.js
  tests/v2/slurm_account.spec.js
  tests/v2/task_utils.js
  tests/v2/users_crud.spec.js
Due: eslint, prettier

Disabled node 16 in CI
  .github/workflows/end_to_end_tests.yaml
  .github/workflows/github_release.yaml
  .github/workflows/lint_and_build.yaml
  .github/workflows/unit_tests.yaml
Due: prettier

Minor change on test
  tests/v2/admin_groups.spec.js
Due: eslint, prettier

Added semver to bundled dependencies
  package-lock.json
  package.json
Due: prettier

deploy: a29e29460dc0f81837058dbeaff73de739cb858d
  changelog/index.html
  development/structure/index.html
  sandbox/_app/env.js
  sandbox/_app/immutable/assets/2.DCOzxPH2.css
  sandbox/_app/immutable/assets/_page.DCOzxPH2.css
  sandbox/_app/immutable/chunks/entry.HGXlO_2M.js
  sandbox/_app/immutable/chunks/index.7d84d21f.js
  sandbox/_app/immutable/chunks/index.DpHn5gGv.js
  sandbox/_app/immutable/chunks/scheduler.iSOZDcen.js
  sandbox/_app/immutable/chunks/singletons.8efd4aa8.js
  sandbox/_app/immutable/entry/app.C2bm1gIO.js
  sandbox/_app/immutable/entry/app.eac1f0ed.js
  sandbox/_app/immutable/entry/start.09944a87.js
  sandbox/_app/immutable/entry/start.CCCCWhBU.js
  sandbox/_app/immutable/nodes/0.50ec6975.js
  sandbox/_app/immutable/nodes/0.MuF82cNa.js
  sandbox/_app/immutable/nodes/1.66e99ddd.js
  sandbox/_app/immutable/nodes/1.BU8-TRZt.js
  sandbox/_app/immutable/nodes/2.92cd7219.js
  sandbox/_app/immutable/nodes/2.CFJRt8l-.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
Due: eslint, prettier

1.8.0
  package-lock.json
  package.json
Due: prettier

deploy: d02e6ea1a7a57e79b48feac29d95e74249ea104f
  changelog/index.html
  sandbox/_app/immutable/chunks/entry.DjD3zFOI.js
  sandbox/_app/immutable/chunks/entry.HGXlO_2M.js
  sandbox/_app/immutable/entry/app.C2bm1gIO.js
  sandbox/_app/immutable/entry/app.DjjfT801.js
  sandbox/_app/immutable/entry/start.A-mhB4DZ.js
  sandbox/_app/immutable/entry/start.CCCCWhBU.js
  sandbox/_app/immutable/nodes/1.BU8-TRZt.js
  sandbox/_app/immutable/nodes/1.magY6tWP.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
  version-compatibility/index.html
Due: eslint, prettier

Used new group_ids_names field
  __tests__/v2/UserEditor.test.js
  src/lib/components/v2/admin/UserEditor.svelte
  src/lib/server/api/auth_api.js
  src/lib/types.d.ts
  src/routes/profile/+page.svelte
  src/routes/v2/admin/users/[userId]/+page.svelte
  src/routes/v2/admin/users/[userId]/edit/+page.svelte
  src/routes/v2/admin/users/register/+page.svelte
Due: eslint, prettier

Removed owner from v2 tasks
  src/lib/common/component_utilities.js
  src/lib/components/v2/projects/CreateWorkflowModal.svelte
  src/lib/components/v2/projects/WorkflowsList.svelte
  src/lib/components/v2/tasks/TaskEditModal.svelte
  src/lib/components/v2/tasks/TaskInfoModal.svelte
  src/lib/components/v2/workflow/TaskInfoTab.svelte
  src/lib/components/v2/workflow/WorkflowTaskSelection.svelte
  src/lib/components/v2/workflow/version-checker.js
  src/lib/types-v2.d.ts
  src/routes/v2/admin/tasks/+page.svelte
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
  src/routes/v2/tasks/+page.server.js
  src/routes/v2/tasks/+page.svelte
  tests/v2/add_single_task.spec.js
  tests/v2/task_utils.js
Due: eslint, prettier

Displayed workflow task warning message
  src/lib/types-v2.d.ts
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: eslint, prettier

Implemented selection of group in task creation
  __tests__/v2/AddSingleTask.test.js
  __tests__/v2/TaskCollection.test.js
  src/lib/components/v2/tasks/AddSingleTask.svelte
  src/lib/components/v2/tasks/CustomEnvTask.svelte
  src/lib/components/v2/tasks/TaskCollection.svelte
  src/lib/components/v2/tasks/TaskGroupSelector.svelte
  src/lib/types-v2.d.ts
  src/routes/v2/tasks/+page.server.js
  src/routes/v2/tasks/+page.svelte
Due: eslint, prettier

First implementation of new workflow task modal
  src/lib/components/common/Modal.svelte
  src/lib/components/v2/workflow/AddWorkflowTaskModal.svelte
  src/lib/components/v2/workflow/WorkflowTaskSelection.svelte
  src/lib/components/v2/workflow/version-checker.js
  src/lib/types-v2.d.ts
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: eslint, prettier

Updated tests
  __tests__/v2/VersionUpdate.test.js
  playwright.config.js
  tests/v2/admin_jobs.spec.js
  tests/v2/custom_env_task.spec.js
  tests/v2/export_import_workflow_custom_task.spec.js
  tests/v2/import_export_args.spec.js
  tests/v2/jschema.spec.js
  tests/v2/run_mock_tasks.spec.js
  tests/v2/slurm_account.spec.js
  tests/v2/stop_workflow.spec.js
  tests/v2/task_version_update.spec.js
  tests/v2/tasks_admin.spec.js
  tests/v2/workflow_fixture.js
  tests/v2/workflow_task_input_filters.spec.js
  tests/v2/workflow_task_meta_properties.spec.js
  tests/v2/workflow_task_without_schema.spec.js
Due: eslint, prettier

Fixes to e2e tests
  tests/v2/add_single_task.spec.js
  tests/v2/tasks_admin.spec.js
  tests/v2/workflow_fixture.js
Due: eslint, prettier

Fixed issue with task version sorting
  __tests__/v2/AddWorkflowTaskModal.test.js
  src/lib/components/v2/workflow/AddWorkflowTaskModal.svelte
  src/lib/types-v2.d.ts
Due: eslint, prettier

Added CI configuration for storing test-results folder
  .github/workflows/end_to_end_tests.yaml
Due: prettier

Changed new version available icon
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Added metadata column in workflow task modal
  src/lib/components/v2/workflow/AddWorkflowTaskModal.svelte
  src/lib/types-v2.d.ts
Due: eslint, prettier

Renamed source to label in custom python env task creation
  src/lib/components/v2/tasks/CustomEnvTask.svelte
  src/lib/types-v2.d.ts
  tests/v2/custom_env_task.spec.js
Due: eslint, prettier
