Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

Bump python version in GHA
  .github/workflows/documentation.yaml
Due: prettier

deploy: 7b85b97a352c2aa2086d1710f864322ba0ff02e3
  doc-requirements.txt
  sandbox/_app/immutable/chunks/B0z87eBJ.js
  sandbox/_app/immutable/chunks/DxunXR7-.js
  sandbox/_app/immutable/entry/app.B1pPILXA.js
  sandbox/_app/immutable/entry/app.afOvdQ7o.js
  sandbox/_app/immutable/entry/start.8oiloPar.js
  sandbox/_app/immutable/entry/start.CtepB71L.js
  sandbox/_app/immutable/nodes/1.CG-P396M.js
  sandbox/_app/immutable/nodes/1.P4wdkraC.js
  sandbox/_app/version.json
  sandbox/index.html
  sitemap.xml.gz
Due: eslint, prettier

Updated tests
  __tests__/v2/UserEditor.test.js
  playwright.config.js
  src/lib/components/v2/admin/UserSettingsEditor.svelte
  src/routes/v2/admin/groups/[groupId]/edit/+page.svelte
  src/routes/v2/admin/users/[userId]/+page.svelte
  tests/profile.spec.js
  tests/settings.spec.js
  tests/start-test-server.sh
  tests/v2/admin_groups.spec.js
  tests/v2/admin_import_user_settings.spec.js
  tests/v2/admin_settings.spec.js
  tests/v2/slurm_account.spec.js
  tests/v2/users_crud.spec.js
  tests/v2/viewer_paths.spec.js
Due: eslint, prettier

Fixed test Pixi task collection
  tests/resource.json
  tests/start-test-server.sh
Due: prettier

Fixed test configuration
  playwright.config.js
  tests/resource.json
  tests/start-test-server.sh
Due: eslint, prettier

1.21.0-a0
  package-lock.json
  package.json
Due: prettier

Restored null fields in user settings; removed deprecated user settings fields
  __tests__/v2/UserEditor.test.js
  components/src/lib/types/api.d.ts
  src/lib/components/v2/admin/ProfileEditor.svelte
  src/lib/components/v2/admin/UserSettingsEditor.svelte
  src/routes/v2/admin/groups/[groupId]/edit/+page.svelte
Due: eslint, prettier

Merged my profiles and my settings
  src/routes/+layout.svelte
  src/routes/profile/+page.server.js
  src/routes/profile/+page.svelte
  src/routes/settings/+page.server.js
  src/routes/settings/+page.svelte
  tests/settings.spec.js
Due: eslint, prettier

Removed deprecated fields
  src/routes/v2/admin/users/[userId]/+page.svelte
Due: prettier

Added resource and profile e2e tests
  tests/data/resource.json
  tests/utils.js
  tests/v2/add_single_task.spec.js
  tests/v2/profile_crud.spec.js
  tests/v2/resource_crud.spec.js
Due: eslint, prettier

Added unit tests
  __tests__/v2/ProfileEditor.test.js
  __tests__/v2/UserEditor.test.js
  src/lib/components/v2/admin/ProfileEditor.svelte
  src/lib/components/v2/admin/UserSettingsEditor.svelte
Due: eslint, prettier

Adapt to new variables
  .github/workflows/end_to_end_tests.yaml
  docs/development/tests.md
  docs/oauth2.md
  tests/start-test-server.sh
Due: prettier

Support `/settings/oauth`
  src/routes/v2/admin/settings/+page.server.js
  src/routes/v2/admin/settings/+page.svelte
Due: eslint, prettier

Update end_to_end_tests.yaml
  .github/workflows/end_to_end_tests.yaml
Due: prettier

Update tests.md
  docs/development/tests.md
Due: prettier

Update oauth2.md
  docs/oauth2.md
Due: prettier

Allowed null fields in user PATCH endpoint (to unlink profile)
  src/lib/components/v2/admin/UserEditor.svelte
  src/routes/v2/admin/users/[userId]/edit/+page.svelte
  tests/v2/associate_profile_to_user.spec.js
Due: eslint, prettier

Added "Export to file" buttons on resources table
  src/routes/v2/admin/resources/+page.svelte
  tests/v2/resource_crud.spec.js
Due: eslint, prettier

Removed some columns from profiles table
  src/routes/v2/admin/resources/[resourceId]/profiles/+page.svelte
Due: prettier

Added "Has Profile" column to users table
  src/routes/v2/admin/users/+page.svelte
Due: prettier

Added list of users in the profile page
  src/lib/server/api/auth_api.js
  src/routes/v2/admin/resources/[resourceId]/profiles/[profileId]/+page.server.js
  src/routes/v2/admin/resources/[resourceId]/profiles/[profileId]/+page.svelte
  tests/v2/associate_profile_to_user.spec.js
Due: eslint, prettier

1.21.0-a2
  package-lock.json
  package.json
Due: prettier

Updated CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier

deploy: 2a3baa2b26532ee824da216798cb3a9b1ccc95ea
  changelog/index.html
  development/tests/index.html
  oauth2/index.html
  sandbox/_app/immutable/chunks/C9koYd6V.js
  sandbox/_app/immutable/chunks/DxunXR7-.js
  sandbox/_app/immutable/entry/app.B1pPILXA.js
  sandbox/_app/immutable/entry/app.Dq-bKdHy.js
  sandbox/_app/immutable/entry/start.8oiloPar.js
  sandbox/_app/immutable/entry/start.PrEMYxE2.js
  sandbox/_app/immutable/nodes/1.C3f3p30L.js
  sandbox/_app/immutable/nodes/1.CG-P396M.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
Due: eslint, prettier

remove FRACTAL_ADMIN_DEFAULT_* and complete init-db-data call
  examples/config_3_with_domain_and_https/fractal_server.md
  examples/config_4_with_domain_and_https/fractal_server.md
  lib/fractal-server/.fractal_server.env
  tests/.fractal_server.env
  tests/start-test-server.sh
Due: prettier

fix typo
  tests/start-test-server.sh
Due: none

Drop `examples` folder
  examples/README.md
  examples/config_1/apache_proxy.md
  examples/config_1/fractal_server.md
  examples/config_1/fractal_web.md
  examples/config_2_with_domain/apache_proxy.md
  examples/config_2_with_domain/fractal_server.md
  examples/config_2_with_domain/fractal_web.md
  examples/config_3_with_domain_and_https/fractal_server.md
  examples/config_3_with_domain_and_https/fractal_web.md
  examples/config_4_with_domain_and_https/apache.md
  examples/config_4_with_domain_and_https/fractal_server.md
  examples/config_4_with_domain_and_https/fractal_web.md
Due: prettier

CHANGELOG
  CHANGELOG.md
Due: prettier

deploy: 9d3fc1fc26d3efe6d121d339c34274d170657086
  changelog/index.html
  sandbox/_app/immutable/chunks/C9koYd6V.js
  sandbox/_app/immutable/chunks/CcuuLP7u.js
  sandbox/_app/immutable/entry/app.D3R6W4fG.js
  sandbox/_app/immutable/entry/app.Dq-bKdHy.js
  sandbox/_app/immutable/entry/start.GApHUyxV.js
  sandbox/_app/immutable/entry/start.PrEMYxE2.js
  sandbox/_app/immutable/nodes/1.BFKC0-W5.js
  sandbox/_app/immutable/nodes/1.C3f3p30L.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
Due: eslint, prettier

Remove `UserSettings` and update `User` in `api.d.ts`
  components/src/lib/types/api.d.ts
Due: eslint, prettier

Adapted to user/settings changes (fractal-server 2.17)
  CHANGELOG.md
  __tests__/mock/mock-types.js
  __tests__/v2/CreateDatasetModal.test.js
  __tests__/v2/TaskGroupActivities.test.js
  __tests__/v2/UserEditor.test.js
  components/src/lib/types/api.d.ts
  src/lib/components/v2/admin/UserEditor.svelte
  src/lib/components/v2/admin/UserSettingsEditor.svelte
  src/lib/components/v2/admin/UserSettingsImportModal.svelte
  src/lib/components/v2/projects/datasets/CreateDatasetModal.svelte
  src/lib/server/api/auth_api.js
  src/routes/auth/login/oauth2/+layout.server.js
  src/routes/auth/login/oauth2/+page.svelte
  src/routes/profile/+page.server.js
  src/routes/profile/+page.svelte
  src/routes/v2/admin/groups/[groupId]/edit/+page.svelte
  src/routes/v2/admin/users/[userId]/+page.server.js
  src/routes/v2/admin/users/[userId]/+page.svelte
  src/routes/v2/admin/users/[userId]/edit/+page.server.js
  src/routes/v2/admin/users/[userId]/edit/+page.svelte
  src/routes/v2/admin/users/register/+page.svelte
  tests/oauth2.spec.js
  tests/start-test-server.sh
  tests/v2/admin_groups.spec.js
  tests/v2/admin_import_user_settings.spec.js
  tests/v2/associate_profile_to_user.spec.js
  tests/v2/dataset_crud.spec.js
  tests/v2/dataset_utils.js
  tests/v2/images.spec.js
  tests/v2/impersonate_user.spec.js
  tests/v2/run_workflow_images.spec.js
  tests/v2/run_workflow_images_not_processed.spec.js
  tests/v2/type_filters_flow.spec.js
  tests/v2/user_utils.js
  tests/v2/users_crud.spec.js
  tests/v2/view_plate.spec.js
  tests/v2/viewer_paths.spec.js
Due: eslint, prettier

Added support for oneOf and discriminator
  components/__tests__/jschema/bad_input.test.js
  components/__tests__/jschema/jschema_adapter.test.js
  components/__tests__/jschema/properties/allOf.test.js
  components/__tests__/jschema/properties/array.test.js
  components/__tests__/jschema/properties/boolean.test.js
  components/__tests__/jschema/properties/enum.test.js
  components/__tests__/jschema/properties/number.test.js
  components/__tests__/jschema/properties/oneOf.test.js
  components/__tests__/jschema/properties/property_test_utils.js
  components/__tests__/jschema/properties/reset.test.js
  components/__tests__/jschema/properties/string.test.js
  components/__tests__/jschema/properties/tuple.test.js
  components/src/lib/index.js
  components/src/lib/jschema/form_element.js
  components/src/lib/jschema/form_manager.js
  components/src/lib/jschema/jschema_adapter.js
  components/src/lib/jschema/jschema_initial_data.js
  components/src/lib/jschema/jschema_validation.js
  components/src/lib/jschema/properties/ConditionalProperty.svelte
  components/src/lib/jschema/properties/PropertyDiscriminator.svelte
  components/src/lib/jschema/properties/PropertyLabel.svelte
  components/src/lib/jschema/properties/StringProperty.svelte
  components/src/lib/jschema/property_utils.js
  components/src/lib/types/form.d.ts
  components/src/lib/types/jschema.d.ts
  sandbox/src/lib/components/JSchemaSandbox.svelte
  src/lib/components/v2/tasks/AddSingleTask.svelte
  src/lib/components/v2/workflow/ImportExportArgs.svelte
Due: eslint, prettier

1.21.0-a3
  package-lock.json
  package.json
Due: prettier

Add `/settings/data/` endpoint
  src/routes/v2/admin/settings/+page.server.js
  src/routes/v2/admin/settings/+page.svelte
Due: eslint, prettier

Rename env variable in .fractal_server.env
  tests/.fractal_server.env
Due: none

Removed usage of deprecated settings endpoint
  __tests__/v2/workflow_page.test.js
  src/lib/components/v2/workflow/RunWorkflowModal.svelte
  src/routes/profile/+page.svelte
Due: eslint, prettier

Redirected to home page after OAuth2 registration
  src/routes/+page.svelte
  src/routes/auth/login/oauth2/+page.svelte
Due: prettier

Handled user without profile
  src/hooks.server.js
  src/routes/+page.svelte
  tests/v2/user_without_profile.spec.js
  tests/v2/viewer_paths.spec.js
Due: eslint, prettier

Improved handling of users not verified and without profile (except superusers)
  CHANGELOG.md
  src/hooks.server.js
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/auth/login/+page.svelte
  tests/admin_without_profile.spec.js
  tests/user_not_active.spec.js
  tests/user_not_verified.spec.js
  tests/user_without_profile.spec.js
Due: eslint, prettier

Removed deprecated env variables
  tests/.fractal_server.env
  tests/pixi.json
  tests/start-test-server.sh
Due: prettier

Path conditions:
  eslint: (any of: *.js) or (any of: *.ts)
  prettier: (((((any of: *.js) or (any of: *.ts)) or (any of: *.svelte)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
