Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

.lintstagedrc.json:

{
	"*.js": ["eslint", "prettier"],
	"*.ts": ["eslint", "prettier"],
	"*.svelte": "prettier",
	"*.md": "prettier",
	"*.json": "prettier",
	"*.yaml": "prettier"
}

second priority to workflow.description ref #1001
  src/lib/components/v2/templates/TemplateCreateModal.svelte
Due: prettier

Implemented duplicate workflow
  src/lib/components/v2/projects/WorkflowsList.svelte
  tests/v2/duplicate_workflow.spec.js
Due: eslint, prettier

Add CSV download button to admin/tasks page
  CHANGELOG.md
  src/routes/v2/admin/tasks/+page.svelte
  tests/v2/tasks_admin.spec.js
Due: eslint, prettier

move templates from `src/lib/components/v2` to `components/src/lib`
  components/src/lib/templates/TemplateCreateModal.svelte
  components/src/lib/templates/TemplateImportModal.svelte
  components/src/lib/templates/TemplateInfoModal.svelte
  components/src/lib/templates/TemplateUpdateModal.svelte
  components/src/lib/templates/TemplatesTable.svelte
  src/lib/components/v2/projects/workflow/CreateWorkflowModal.svelte
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
  src/routes/v2/templates/+page.svelte
Due: prettier

Revert "move templates from `src/lib/components/v2` to `components/src/lib`"
  src/lib/components/v2/projects/workflow/CreateWorkflowModal.svelte
  src/lib/components/v2/templates/TemplateCreateModal.svelte
  src/lib/components/v2/templates/TemplateImportModal.svelte
  src/lib/components/v2/templates/TemplateInfoModal.svelte
  src/lib/components/v2/templates/TemplateUpdateModal.svelte
  src/lib/components/v2/templates/TemplatesTable.svelte
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
  src/routes/v2/templates/+page.svelte
Due: prettier

Implemented set/unset on nullable JSON schema elements (anyOf)
  components/__tests__/jschema/properties/boolean.test.js
  components/src/lib/jschema/form_element.js
  components/src/lib/jschema/form_errors.js
  components/src/lib/jschema/form_manager.js
  components/src/lib/jschema/properties/CollapsibleProperty.svelte
  components/src/lib/jschema/properties/ObjectProperty.svelte
  components/src/lib/jschema/properties/PropertyDiscriminator.svelte
  components/src/lib/types/form.d.ts
  sandbox/src/lib/components/TaskManifestSandbox.svelte
Due: eslint, prettier

schemaPath fix for anyOf
  components/src/lib/jschema/form_manager.js
Due: eslint, prettier

first templates-list static page ref https://github.com/fractal-analytics-platform/fractal-analytics-platform.github.io/issues/33
  templates-list/package-lock.json
  templates-list/package.json
  templates-list/src/app.html
  templates-list/src/lib/TemplatesList.svelte
  templates-list/src/lib/types.d.ts
  templates-list/src/routes/+layout.js
  templates-list/src/routes/+layout.svelte
  templates-list/src/routes/+page.svelte
  templates-list/static/favicon.png
  templates-list/static/template1.json
  templates-list/static/template2.json
  templates-list/static/template3.json
  templates-list/static/templates.json
  templates-list/svelte.config.js
  templates-list/vite.config.js
Due: eslint, prettier

Minor fix on JSON schema form
  components/__tests__/jschema/properties/boolean.test.js
  components/src/lib/jschema/form_errors.js
Due: eslint, prettier

filter on templates-list page
  templates-list/src/lib/TemplatesList.svelte
Due: prettier

Use login invite also for Institutional login
  src/routes/auth/login/+page.server.js
  src/routes/auth/login/+page.svelte
Due: eslint, prettier

Use login invite also for Institutional login
  src/routes/auth/login/+page.svelte
Due: prettier

changeLog
  CHANGELOG.md
Due: prettier

Do not redirect to workflow page in case of workflow duplication
  src/lib/components/v2/projects/WorkflowsList.svelte
  tests/v2/duplicate_workflow.spec.js
Due: eslint, prettier

deploy: f388c4d12bcb00ca0b9b0696fc55c3890d84fe39
  changelog/index.html
  sandbox/_app/immutable/chunks/CzpYlRlG.js
  sandbox/_app/immutable/chunks/D5NdntZt.js
  sandbox/_app/immutable/entry/app.CKCu_XJ-.js
  sandbox/_app/immutable/entry/app.DWIUh1cQ.js
  sandbox/_app/immutable/entry/start.C6npVaWk.js
  sandbox/_app/immutable/entry/start.CF2d3hRr.js
  sandbox/_app/immutable/nodes/1.6CeXEB80.js
  sandbox/_app/immutable/nodes/1.BA7S5IGD.js
  sandbox/_app/immutable/nodes/2.Bn0sMak1.js
  sandbox/_app/immutable/nodes/2.DhnjI7xO.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
Due: eslint, prettier

STASH modal
  templates-list/src/lib/TemplatesList.svelte
Due: prettier

moved login invite on top of the page
  CHANGELOG.md
  src/routes/auth/login/+page.svelte
Due: prettier

workflow_template -> workflow-template
  src/lib/components/v2/templates/TemplateCreateModal.svelte
  src/lib/components/v2/templates/TemplateImportModal.svelte
  src/lib/components/v2/templates/TemplateInfoModal.svelte
  src/lib/components/v2/templates/TemplateUpdateModal.svelte
  src/lib/components/v2/templates/TemplatesTable.svelte
  src/lib/server/api/v2/template_api.js
Due: eslint, prettier

template.timestamp_last_used is never null
  components/src/lib/types/api.d.ts
  src/lib/components/v2/templates/TemplateInfoModal.svelte
Due: eslint, prettier

test on fractal-server main branch
  playwright.config.js
Due: eslint, prettier

fix 'npx eslint .'
  src/lib/components/v2/projects/workflow/CreateWorkflowModal.svelte
  src/lib/components/v2/templates/TemplateCreateModal.svelte
  src/lib/components/v2/templates/TemplateImportModal.svelte
  src/lib/components/v2/templates/TemplateUpdateModal.svelte
  src/lib/components/v2/templates/TemplatesTable.svelte
Due: prettier

fix 'npm run check'
  src/lib/components/v2/projects/workflow/WorkflowImportFlexibility.svelte
  src/lib/components/v2/templates/TemplateCreateModal.svelte
Due: prettier

move svelte-preprocess to devDependencies
  sandbox/package-lock.json
  sandbox/package.json
  tasks-list/package-lock.json
  tasks-list/package.json
  templates-list/package-lock.json
  templates-list/package.json
Due: prettier

remove commented block
  templates-list/src/lib/TemplatesList.svelte
Due: prettier

npm install after devDependencies
  sandbox/package-lock.json
  tasks-list/package-lock.json
  templates-list/package-lock.json
Due: prettier

fix type and initialize during onMount
  templates-list/src/lib/TemplatesList.svelte
Due: prettier

deploy: 004598fdddee166d8592104f0f79150bb46ba152
  changelog/index.html
  sandbox/_app/immutable/chunks/CzpYlRlG.js
  sandbox/_app/immutable/chunks/iL_EWFK3.js
  sandbox/_app/immutable/entry/app.DWIUh1cQ.js
  sandbox/_app/immutable/entry/app.DiGupiHM.js
  sandbox/_app/immutable/entry/start.CF2d3hRr.js
  sandbox/_app/immutable/entry/start.CtWAbWXg.js
  sandbox/_app/immutable/nodes/1.BA7S5IGD.js
  sandbox/_app/immutable/nodes/1.DB4zC_38.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
Due: eslint, prettier

fix 'npx svelte-check' inside templates-list
  templates-list/jsconfig.json
  templates-list/src/lib/TemplatesList.svelte
Due: prettier

fix page title
  templates-list/src/app.html
Due: none

simplify logic for boolean icon
  src/lib/components/v2/projects/workflow/WorkflowImportFlexibility.svelte
Due: prettier

older -> older_than_target
  components/src/lib/types/api.d.ts
  src/lib/components/v2/projects/workflow/WorkflowImportFlexibility.svelte
Due: eslint, prettier

fix e2e tests
  tests/v2/dataset_crud.spec.js
  tests/v2/import_workflow.spec.js
  tests/v2/workflow_update_properties.spec.js
Due: eslint, prettier

fix unit test
  __tests__/v2/workflow_page.test.js
Due: eslint, prettier

Workflow Templates (#975)
  __tests__/v2/workflow_page.test.js
  components/src/lib/types/api.d.ts
  sandbox/package-lock.json
  sandbox/package.json
  src/lib/components/common/ConfirmActionButton.svelte
  src/lib/components/v2/projects/CreateWorkflowModal.svelte
  src/lib/components/v2/projects/datasets/CreateDatasetModal.svelte
  src/lib/components/v2/projects/workflow/CreateWorkflowModal.svelte
  src/lib/components/v2/projects/workflow/WorkflowImportFlexibility.svelte
  src/lib/components/v2/projects/workflow/WorkflowsList.svelte
  src/lib/components/v2/templates/TemplateCreateModal.svelte
  src/lib/components/v2/templates/TemplateImportModal.svelte
  src/lib/components/v2/templates/TemplateInfoModal.svelte
  src/lib/components/v2/templates/TemplateUpdateModal.svelte
  src/lib/components/v2/templates/TemplatesTable.svelte
  src/lib/server/api/v2/template_api.js
  src/routes/+layout.svelte
  src/routes/v2/projects/[projectId]/+page.svelte
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
  src/routes/v2/templates/+page.server.js
  src/routes/v2/templates/+page.svelte
  templates-list/jsconfig.json
  templates-list/package-lock.json
  templates-list/package.json
  templates-list/src/app.html
  templates-list/src/lib/TemplatesList.svelte
  templates-list/src/lib/types.d.ts
  templates-list/src/routes/+layout.js
  templates-list/src/routes/+layout.svelte
  templates-list/src/routes/+page.svelte
  templates-list/static/favicon.png
  templates-list/static/template1.json
  templates-list/static/template2.json
  templates-list/static/template3.json
  templates-list/static/templates.json
  templates-list/svelte.config.js
  templates-list/vite.config.js
  tests/v2/dataset_crud.spec.js
  tests/v2/import_workflow.spec.js
  tests/v2/workflow_update_properties.spec.js
Due: eslint, prettier

deploy: 49191caa0380708fb219252daa5721aab6d0011c
  sandbox/_app/immutable/chunks/D9mJWhwZ.js
  sandbox/_app/immutable/chunks/iL_EWFK3.js
  sandbox/_app/immutable/entry/app.B4rFGKpT.js
  sandbox/_app/immutable/entry/app.DiGupiHM.js
  sandbox/_app/immutable/entry/start.C-Kof4oJ.js
  sandbox/_app/immutable/entry/start.CtWAbWXg.js
  sandbox/_app/immutable/nodes/1.DB4zC_38.js
  sandbox/_app/immutable/nodes/1.DLlw2eM8.js
  sandbox/_app/version.json
  sandbox/index.html
  sitemap.xml.gz
Due: eslint, prettier

add changelog for #975
  CHANGELOG.md
Due: prettier

1.24.0-a5
  package-lock.json
  package.json
Due: prettier

deploy: 19842b95315c15b2f44aff88b8f53f40928fdb5d
  changelog/index.html
  sandbox/_app/immutable/chunks/D9mJWhwZ.js
  sandbox/_app/immutable/chunks/gp8y6459.js
  sandbox/_app/immutable/entry/app.B4rFGKpT.js
  sandbox/_app/immutable/entry/app.BTCsZfg6.js
  sandbox/_app/immutable/entry/start.C-Kof4oJ.js
  sandbox/_app/immutable/entry/start.DHfIoIxH.js
  sandbox/_app/immutable/nodes/1.DLlw2eM8.js
  sandbox/_app/immutable/nodes/1.DhKu2Rcs.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
Due: eslint, prettier

fix typo on url
  src/lib/components/v2/projects/workflow/CreateWorkflowModal.svelte
Due: prettier

1.24.0-a6
  package-lock.json
  package.json
Due: prettier
