Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

Replace fireEvent with @testing-library/user-event
  __tests__/Paginator.test.js
  __tests__/v2/ImageAttributesTypesForm.test.js
  __tests__/v2/JobLogsModal.test.js
  __tests__/v2/JobsList.test.js
  __tests__/v2/TaskCollection.test.js
  components/__tests__/jschema/properties/anyOf.test.js
  components/__tests__/jschema/properties/array.test.js
  components/__tests__/jschema/properties/boolean.test.js
  components/__tests__/jschema/properties/enum.test.js
  components/__tests__/jschema/properties/object.test.js
  components/__tests__/jschema/properties/reset.test.js
  components/__tests__/jschema/properties/tuple.test.js
Due: eslint, prettier

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier

Hide core-only filters when there are no tasks
  components/src/lib/tasks/FilteredTasksTable.svelte
Due: prettier

Propagate ESC key from help page to help modal
  help/docs/extra.js
  help/zensical.toml
  src/lib/components/common/HelpModal.svelte
Due: eslint, prettier

Add help page modal e2e test
  .github/workflows/end_to_end_tests.yaml
  playwright.config.js
  tests/help_pages.spec.js
Due: eslint, prettier

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier

Update CHANGELOG.md and version-compatibility.md
  CHANGELOG.md
  docs/version-compatibility.md
Due: prettier

1.29.6
  package-lock.json
  package.json
Due: prettier

prettier
  components/src/lib/types/api.d.ts
  components/src/lib/types/form.d.ts
Due: eslint, prettier

Set @playwright/test to 1.62.1
  package-lock.json
  package.json
Due: prettier

Reduce test flakyness
  tests/help_pages.spec.js
Due: eslint, prettier

Improve stability of task_group_manage.spec.js e2e test
  tests/v2/tasks/task_group_manage.spec.js
Due: eslint, prettier

Fix edge cases in StandardDismissableAlert
  src/lib/components/common/StandardDismissableAlert.svelte
  src/lib/components/v2/admin/ProfileEditor.svelte
  src/lib/components/v2/admin/UserEditor.svelte
  src/lib/components/v2/jobs/JobsList.svelte
  src/lib/components/v2/projects/ProjectDatasetsList.svelte
  src/lib/components/v2/tasks/AddSingleTask.svelte
  src/lib/components/v2/tasks/CustomEnvTask.svelte
  src/routes/profile/+page.svelte
  src/routes/v2/admin/resources/[resourceId]/edit/+page.svelte
  src/routes/v2/admin/task-groups/+page.svelte
  src/routes/v2/projects/[projectId]/+page.svelte
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Improve e2e tests stability
  tests/utils/utils.js
  tests/utils/v2/user.js
  tests/v2/admin/users/manage_groups.spec.js
  tests/v2/tasks/add_single_task.spec.js
  tests/v2/workflows/run_mock_tasks.spec.js
  tests/v2/workflows/workflow_task_runs.spec.js
Due: eslint, prettier

Make eslint ignoring some generated folders
  eslint.config.js
Due: eslint, prettier

Support additional properties key rename in JSON schema form
  components/__tests__/jschema/properties/object.test.js
  components/src/lib/jschema/form_element.js
  components/src/lib/jschema/properties/ArrayProperty.svelte
  components/src/lib/jschema/properties/BooleanProperty.svelte
  components/src/lib/jschema/properties/CollapsibleProperty.svelte
  components/src/lib/jschema/properties/ConditionalProperty.svelte
  components/src/lib/jschema/properties/EnumProperty.svelte
  components/src/lib/jschema/properties/NumberProperty.svelte
  components/src/lib/jschema/properties/ObjectProperty.svelte
  components/src/lib/jschema/properties/PropertyDiscriminator.svelte
  components/src/lib/jschema/properties/PropertyLabel.svelte
  components/src/lib/jschema/properties/StringProperty.svelte
  components/src/lib/jschema/properties/TupleProperty.svelte
  components/src/lib/jschema/properties/UnexpectedProperty.svelte
  components/src/lib/types/form.d.ts
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: eslint, prettier

Fix error message not displayed for additionalProperties
  components/__tests__/jschema/errors.test.js
  components/src/lib/jschema/form_manager.js
Due: eslint, prettier

Minor fixes
  components/src/lib/jschema/properties/CollapsibleProperty.svelte
  components/src/lib/jschema/properties/ObjectProperty.svelte
Due: prettier

Include also task meta, alias and description during task duplication
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
  tests/v2/workflows/duplicate_workflow_task.spec.js
Due: eslint, prettier

Improve error handling of workflow task arguments import
  src/lib/components/v2/workflow/ImportExportArgs.svelte
  tests/v2/workflows/import_export_args.spec.js
Due: eslint, prettier

Update sandbox example task manifest
  sandbox/src/lib/components/example-task-manifest.json
Due: prettier

Update version-compatibility.md
  docs/version-compatibility.md
Due: prettier

1.29.7
  package-lock.json
  package.json
Due: prettier

Strip function-after in error loc elements
  __tests__/errors.test.js
  src/lib/common/errors.js
Due: eslint, prettier

Bump zensical and uv lock
  pyproject.toml
  uv.lock
Due: none

Handled multiple errors on the same field
  __tests__/errors.test.js
  src/lib/common/errors.js
Due: eslint, prettier

Improve error handling in create workflow modal
  src/lib/components/v2/projects/workflow/CreateWorkflowModal.svelte
Due: prettier

Update development documentation
  docs/development.md
Due: prettier

Improve validation error checks in e2e tests
  tests/v2/admin/users/users_crud.spec.js
  tests/v2/projects/create_project.spec.js
  tests/v2/workflows/duplicate_workflow.spec.js
Due: eslint, prettier

Minor refactoring of AlertError and StandardErrorAlert
  __tests__/AlertError.test.js
  src/lib/common/errors.js
  src/lib/components/common/StandardErrorAlert.svelte
  src/lib/components/v2/projects/workflow/CreateWorkflowModal.svelte
  src/routes/profile/+page.svelte
Due: eslint, prettier

Update docs/development.md
  docs/development.md
Due: prettier

Add more validation error checks on e2e tests
  tests/v2/admin/settings/profile_crud.spec.js
  tests/v2/datasets/dataset_crud.spec.js
  tests/v2/datasets/images.spec.js
  tests/v2/workflows/import_export_args.spec.js
Due: eslint, prettier

Fix arguments change detection issue
  src/lib/components/v2/workflow/ArgumentsSchema.svelte
Due: prettier

Change handling of arguments form section titles
  components/src/lib/common/workflow_task_utils.js
  components/src/lib/index.js
  src/lib/components/v2/workflow/ArgumentsSchema.svelte
Due: eslint, prettier

Fix issues with arguments schema titles
  __tests__/v2/ArgumentsSchema.test.js
  src/lib/components/v2/workflow/ArgumentsSchema.svelte
  tests/v2/workflows/import_export_args.spec.js
  tests/v2/workflows/import_invalid_task_arguments.spec.js
Due: eslint, prettier

Fix logger timezone issue
  src/lib/server/logger.js
Due: eslint, prettier

Add roi=1 query parameter to vizarr URLs
  src/lib/components/v2/projects/datasets/DatasetImagesTable.svelte
  src/routes/v2/projects/[projectId]/datasets/[datasetId]/+page.svelte
  tests/v2/datasets/images.spec.js
  tests/v2/datasets/view_plate.spec.js
Due: eslint, prettier

Run CI e2e tests on a weekly basis
  .github/workflows/end_to_end_tests.yaml
Due: prettier

Fix svelte-check errors
  __tests__/v2/ArgumentsSchema.test.js
Due: eslint, prettier

Path conditions:
  eslint: (any of: *.js) or (any of: *.ts)
  prettier: (((((any of: *.js) or (any of: *.ts)) or (any of: *.svelte)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
