Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

.lintstagedrc.json:

{
	"*.js": ["eslint", "prettier"],
	"*.ts": ["eslint", "prettier"],
	"*.svelte": "prettier",
	"*.md": "prettier",
	"*.json": "prettier",
	"*.yaml": "prettier"
}

hide search bars when useless
  src/lib/components/v2/projects/ProjectDatasetsList.svelte
  src/lib/components/v2/projects/workflow/WorkflowsList.svelte
  src/routes/v2/projects/+page.svelte
Due: prettier

add awaits and use props
  src/lib/components/v2/tasks/TaskGroupManageModal.svelte
  src/routes/v2/admin/task-groups/[taskGroupId]/reset/+page.svelte
Due: prettier

fix lint
  src/lib/components/v2/tasks/TaskGroupManageModal.svelte
Due: prettier

test
  tests/v2/admin/tasks/admin_task_group_manage.spec.js
  tests/v2/tasks/pixi.spec.js
Due: eslint, prettier

changelog [skip ci]
  CHANGELOG.md
Due: prettier

Use textbox for properties with contentSchema; Improve contentSchema errors
  components/src/lib/jschema/ajv_extension.js
  components/src/lib/jschema/properties/ContentSchemaProperty.svelte
  components/src/lib/jschema/properties/PropertyDiscriminator.svelte
  components/src/lib/jschema/properties/StringProperty.svelte
Due: eslint, prettier

fix test
  tests/v2/tasks/pixi.spec.js
Due: eslint, prettier

UI for task-group reset (#1104)
  CHANGELOG.md
  package-lock.json
  package.json
  src/lib/components/v2/tasks/TaskGroupManageModal.svelte
  src/routes/v2/admin/task-groups/[taskGroupId]/reset/+page.server.js
  src/routes/v2/admin/task-groups/[taskGroupId]/reset/+page.svelte
  tests/v2/admin/tasks/admin_task_group_manage.spec.js
  tests/v2/tasks/pixi.spec.js
Due: eslint, prettier

changelog
  CHANGELOG.md
Due: prettier

1.27.8
  package-lock.json
  package.json
Due: prettier

fix test workflow
  tests/v2/workflows/import_workflow.spec.js
Due: eslint, prettier

fix test
  tests/v2/datasets/dataset_crud.spec.js
Due: eslint, prettier

fix lint
  src/lib/components/v2/projects/ProjectDatasetsList.svelte
  src/routes/v2/projects/+page.svelte
Due: prettier

Codeql config
  .github/codeql/codeql-config.yml
Due: none

`npx prettier .github/codeql/codeql-config.yml --write`
  .github/codeql/codeql-config.yml
Due: none

Fix glitch on projects-list update
  CHANGELOG.md
  __tests__/v2/projects_page.test.js
  src/routes/v2/projects/+page.svelte
Due: eslint, prettier

test starring projects
  tests/v2/projects/create_project.spec.js
Due: eslint, prettier

run test with new user
  tests/v2/projects/create_project.spec.js
Due: eslint, prettier

fix aria label and title
  src/lib/components/v2/projects/workflow/WorkflowsList.svelte
Due: prettier

test star workflow
  tests/v2/workflows/star_workflow.spec.js
Due: eslint, prettier

visualize workflow star error
  src/lib/components/v2/projects/ProjectDatasetsList.svelte
  src/lib/components/v2/projects/workflow/WorkflowsList.svelte
Due: prettier

use getRandomName
  tests/v2/projects/create_project.spec.js
Due: eslint, prettier

avoid indenting text in buttons using css
  src/lib/components/v2/projects/ProjectDatasetsList.svelte
  src/lib/components/v2/projects/workflow/WorkflowsList.svelte
Due: prettier

Update also vitest
  components/package-lock.json
  components/package.json
  package-lock.json
  package.json
Due: prettier

Update vite.config.js
  components/vite.config.js
  vite.config.js
Due: eslint, prettier

UI cleanup and star feature (#1108)
  CHANGELOG.md
  __tests__/component_utilities.test.js
  components/src/lib/types/api.d.ts
  package-lock.json
  src/lib/common/component_utilities.js
  src/lib/components/v2/projects/ProjectDatasetsList.svelte
  src/lib/components/v2/projects/ProjectsList.svelte
  src/lib/components/v2/projects/workflow/WorkflowsList.svelte
  src/routes/v2/datasets/+page.svelte
  src/routes/v2/jobs/+page.server.js
  src/routes/v2/projects/+page.server.js
  src/routes/v2/projects/+page.svelte
  tests/v2/datasets/dataset_crud.spec.js
  tests/v2/projects/create_project.spec.js
  tests/v2/workflows/import_workflow.spec.js
  tests/v2/workflows/star_workflow.spec.js
Due: eslint, prettier

version compat
  docs/version-compatibility.md
Due: prettier

CHANGELOG
  CHANGELOG.md
Due: prettier

1.27.9
  package-lock.json
  package.json
Due: prettier

Ensure json-diff-viewer-component is not used before mount
  __tests__/v2/CompareWorkflowTemplateModal.test.js
  src/lib/components/v2/workflow/CompareWorkflowTemplateModal.svelte
  src/lib/components/v2/workflow/JsonDiffViewer.svelte
Due: eslint, prettier

CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier

add description on project creation
  src/lib/components/v2/projects/ProjectsList.svelte
Due: prettier

add description to project info
  components/src/lib/types/api.d.ts
  src/lib/components/v2/projects/ProjectInfoModal.svelte
  src/lib/components/v2/projects/SharedProjectInfoModal.svelte
Due: eslint, prettier

patch project description
  src/routes/v2/projects/[projectId]/+page.svelte
Due: prettier

change fractal-server branch
  playwright.config.js
Due: eslint, prettier

use textarea on edit
  src/routes/v2/projects/[projectId]/+page.svelte
Due: prettier

Update admin jobs page
  CHANGELOG.md
  __tests__/v2/admin_jobs_page.test.js
  src/routes/v2/admin/jobs/+page.svelte
  tests/v2/admin/jobs/admin_jobs.spec.js
Due: eslint, prettier

show description and fix some bugs
  src/routes/v2/projects/[projectId]/+page.svelte
Due: prettier

remove 'Datasets' and 'Project properties'
  src/lib/components/v2/projects/ProjectInfoModal.svelte
  src/lib/components/v2/projects/SharedProjectInfoModal.svelte
  src/routes/v2/projects/[projectId]/+page.svelte
Due: prettier
