Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

.lintstagedrc.json:

{
	"*.js": ["eslint", "prettier"],
	"*.ts": ["eslint", "prettier"],
	"*.svelte": "prettier",
	"*.md": "prettier",
	"*.json": "prettier",
	"*.yaml": "prettier"
}

Include multiple versions of a test tasks package
  tests/data/fractal_tasks_core_alpha-0.0.1a1-py3-none-any.whl
  tests/data/fractal_tasks_core_alpha-0.0.2-py3-none-any.whl
  tests/data/fractal_tasks_core_alpha-0.0.3-py3-none-any.whl
  tests/data/fractal_tasks_core_alpha-0.0.3a0-py3-none-any.whl
  tests/data/fractal_tasks_core_alpha-0.1.3-py3-none-any.whl
Due: none

Improve task selection
  src/lib/components/workflow/WorkflowTaskSelection.svelte
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Prevent the user to select a different workflow task from the list while there are still arguments changes unsaved.
  src/lib/components/workflow/ArgumentsSchema.svelte
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Prevent a user from running a workflow if there are unsaved arguments changes
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Disable eslint checks on bootstrap
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Subscribe to the 'beforeunload' event and trigger the toggleUnsavedChangesModal if the users prevents closing the window
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Change the order of 'Save changes' button
  src/lib/components/workflow/ArgumentsSchema.svelte
Due: prettier

Use sveltekit beforeNavigate navigation lifecycle hook
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Introduce tests to validate loose validation of semver package
  __tests__/semver.test.js
Due: eslint, prettier

Improve sorting capabilities of tasks page
  __tests__/semver.test.js
  src/lib/common/component_utilities.js
  src/routes/tasks/+page.svelte
Due: eslint, prettier

Include more versions in sorting test
  __tests__/semver.test.js
Due: eslint, prettier

Introduce tabs to select workflow task to insert into workflow
  src/lib/components/workflow/WorkflowTaskSelection.svelte
Due: prettier

Remove unused function
  src/lib/components/workflow/WorkflowTaskSelection.svelte
Due: prettier

Improve task selection tabs and select interaction
  src/lib/common/component_utilities.js
  src/lib/components/workflow/WorkflowTaskSelection.svelte
Due: eslint, prettier

Bug fix in checks for orders of tasks if a version is null or not provided.
  src/lib/common/component_utilities.js
  src/lib/components/workflow/WorkflowTaskSelection.svelte
Due: eslint, prettier

Set up preliminary docs structure
  docs/README.md
  docs/contribute.md
  docs/dependencies.md
  docs/examples.md
  docs/fractal_server.md
  docs/json_schemas.md
  docs/structure.md
  lib/fractal-server/example_server_startup/.gitignore
Due: prettier

Update README
  README.md
  docs/README.md
Due: prettier

Add CHANGELOG
  CHANGELOG.md
  README.md
Due: prettier

Fix link
  README.md
Due: prettier

Remove unnecessary package dependencies.
  package-lock.json
  package.json
Due: prettier

Update sorting function to account for ownerName, if provided
  __tests__/component_utilities.test.js
  src/lib/common/component_utilities.js
Due: eslint, prettier

Introducing slim-select to improve task selection
  package-lock.json
  package.json
  src/app.html
  src/lib/components/workflow/WorkflowTaskSelection.svelte
  static/slimselect.css
Due: prettier

Sort selection tasks with order by current owner first
  src/lib/components/workflow/WorkflowTaskSelection.svelte
Due: prettier

Update sorting test
  __tests__/component_utilities.test.js
Due: eslint, prettier

Fix selection of users tasks
  src/lib/components/workflow/WorkflowTaskSelection.svelte
Due: prettier

Improve selection for common tasks
  src/lib/components/workflow/WorkflowTaskSelection.svelte
Due: prettier

Improve task selection on user group
  src/lib/components/workflow/WorkflowTaskSelection.svelte
Due: prettier

Disable search box by default due to incompatibility with bootstrap
  src/lib/components/workflow/WorkflowTaskSelection.svelte
Due: prettier

Update CHANGELOG
  CHANGELOG.md
Due: prettier

Fix link in README [skip ci]
  README.md
Due: prettier

Add example for https config with apache (close #247)
  examples/config_4_with_domain_and_https/apache.md
  examples/config_4_with_domain_and_https/fractal_server.md
  examples/config_4_with_domain_and_https/fractal_web.md
Due: prettier

Initial definition of structure docs
  docs/structure.md
Due: prettier

Description of client server interoperability with example
  docs/media/proxy-architecture.png
  docs/structure.md
Due: prettier

Replace code block ref language
  docs/structure.md
Due: prettier

Application library description
  docs/structure.md
Due: prettier

Minor change to README
  README.md
Due: prettier

Prepare new fractal-server-startup folder
  README.md
  lib/fractal-server/DEPRECATED_example_server_startup/.gitignore
  lib/fractal-server/DEPRECATED_example_server_startup/README.md
  lib/fractal-server/DEPRECATED_example_server_startup/config_local.json
  lib/fractal-server/DEPRECATED_example_server_startup/fresh_startup.sh
  lib/fractal-server/DEPRECATED_example_server_startup/startup.sh
  lib/fractal-server/fractal-server-startup/.gitignore
  lib/fractal-server/fractal-server-startup/README.md
  lib/fractal-server/fractal-server-startup/config_local.json
Due: prettier

Clean up lib folder
  lib/fractal-server/.fractal_server.env
  lib/fractal-server/.gitignore
  lib/fractal-server/README.md
  lib/fractal-server/config_local.json
  lib/test_tasks/README.md
  lib/test_tasks/fractal-tasks-core/.gitignore
  lib/test_tasks/fractal-tasks-core/README.md
  lib/test_tasks/fractal-tasks-core/dist/fractal_tasks_core-0.9.0-py3-none-any.whl
  lib/test_tasks/fractal-tasks-core/fractal_tasks_core/__FRACTAL_MANIFEST__.json
  lib/test_tasks/fractal-tasks-core/fractal_tasks_core/__init__.py
  lib/test_tasks/fractal-tasks-core/fractal_tasks_core/cellpose_segmentation.py
  lib/test_tasks/fractal-tasks-core/fractal_tasks_core/copy_ome_zarr.py
  lib/test_tasks/fractal-tasks-core/fractal_tasks_core/create_ome_zarr.py
  lib/test_tasks/fractal-tasks-core/fractal_tasks_core/create_ome_zarr_multiplex.py
  lib/test_tasks/fractal-tasks-core/fractal_tasks_core/illumination_correction.py
  lib/test_tasks/fractal-tasks-core/fractal_tasks_core/maximum_intensity_projection.py
  lib/test_tasks/fractal-tasks-core/fractal_tasks_core/napari_workflows_wrapper.py
  lib/test_tasks/fractal-tasks-core/fractal_tasks_core/yokogawa_to_ome_zarr.py
  lib/test_tasks/fractal-tasks-core/pyproject.toml
  lib/test_tasks/fractal_tasks_stresstest-1.0.0-py3-none-any.whl
  lib/test_tasks/my-tasks-fail/.gitignore
  lib/test_tasks/my-tasks-fail/dist/my_tasks_fail-0.1.0-py3-none-any.whl
  lib/test_tasks/my-tasks-fail/my_tasks_fail/__FRACTAL_MANIFEST__.json
  lib/test_tasks/my-tasks-fail/my_tasks_fail/__init__.py
  lib/test_tasks/my-tasks-fail/my_tasks_fail/task1.py
  lib/test_tasks/my-tasks-fail/pyproject.toml
  lib/test_tasks/my-tasks/.gitignore
  lib/test_tasks/my-tasks/README.md
  lib/test_tasks/my-tasks/dist/my_tasks-0.1.0-py3-none-any.whl
  lib/test_tasks/my-tasks/my_tasks/__FRACTAL_MANIFEST__.json
  lib/test_tasks/my-tasks/my_tasks/__init__.py
  lib/test_tasks/my-tasks/my_tasks/task1.py
  lib/test_tasks/my-tasks/my_tasks/task2.py
  lib/test_tasks/my-tasks/my_tasks/task3.py
  lib/test_tasks/my-tasks/pyproject.toml
  lib/test_tasks/my-workflows/cardiac-tiny.json
  lib/test_tasks/my-workflows/workflow-stresstest.json
  lib/test_tasks/my-workflows/workflow.json
Due: prettier

Remove DEPRECATED_example_server_startup folder
  lib/fractal-server/DEPRECATED_example_server_startup/.gitignore
  lib/fractal-server/DEPRECATED_example_server_startup/README.md
  lib/fractal-server/DEPRECATED_example_server_startup/config_local.json
  lib/fractal-server/DEPRECATED_example_server_startup/fresh_startup.sh
  lib/fractal-server/DEPRECATED_example_server_startup/startup.sh
Due: prettier
