Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

Introduce support for additionalProperties schema definition.
  __tests__/schema_management.test.js
  lib/test/KeyedObjectSchema.json
  lib/test/NapariJsonSchemaExample.json
  src/lib/components/common/jschema/ObjectProperty.svelte
  src/lib/components/common/jschema/schema_management.js
Due: eslint, prettier

Remove unused function parameter and unecessary logs
  src/lib/components/common/jschema/schema_management.js
Due: eslint, prettier

Update example in lib/test/NapariJsonSchemaExample.json
  lib/test/NapariJsonSchemaExample.json
Due: prettier

Fix TaskInfoModal args_schema parameter display
  src/lib/components/tasks/TaskInfoModal.svelte
Due: prettier

Update package.json (address sweetalert issue)
  package-lock.json
  package.json
Due: prettier

Remove logs and awaiting redirect to jobsUrl
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

On create task collections, include empty strings in payload but replace value with null.
  src/lib/server/api/v1/task_api.js
Due: eslint, prettier

Fix `replaceEmptyString` (ref #162)
  src/lib/server/api/v1/task_api.js
Due: eslint, prettier

Add `fractal_tasks_core_alpha-0.0.1a0-py3-none-any.whl`, for testing
  tests/data/fractal_tasks_core_alpha-0.0.1a0-py3-none-any.whl
Due: none

Integration of JSchema with workflows page
  src/lib/components/common/jschema/JSchema.svelte
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Use selectedWorkflowTask.args as property to bind to JSchema's schemaData prop.
  src/lib/components/common/jschema/JSchema.svelte
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Handle saving and validating in wrapper component in order to customize the behaviour of JSchema.
  src/lib/components/common/jschema/JSchema.svelte
  src/lib/components/workflow/ArgumentsSchema.svelte
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Improve usage of reference objects
  src/lib/components/common/jschema/JSchema.svelte
Due: prettier

Deep clone data object to create a deep copy of incoming data object.
  src/lib/components/common/jschema/schema_management.js
Due: eslint, prettier

Enable JSchema component to reset changes to previous args value
  src/lib/components/common/jschema/JSchema.svelte
  src/lib/components/workflow/ArgumentsSchema.svelte
Due: prettier

Include a test to check #189
  __tests__/json_validator.test.js
  lib/test/NumberJsonSchema.json
Due: eslint, prettier

Removed unused code block
  src/lib/components/common/jschema/JSchema.svelte
Due: prettier

Re-render ArgumentsSchema whenever the selected workflow task changes.
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Remove null values from data object in JSchema component before saving them. Fix #190
  src/lib/components/common/jschema/JSchema.svelte
Due: prettier

If arguments schema is not provided by workflow task, use legacy arguments management UI.
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Check that args schema is of a supported version.
  src/lib/components/workflow/ArgumentsSchema.svelte
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Prevent to add a nested property with empty key
  __tests__/schema_management.test.js
  src/lib/components/common/jschema/schema_management.js
Due: eslint, prettier

Add example of importable workflow JSON file
  tests/data/workflow_to_import.json
Due: prettier

Enable "free" objects to remove nested properties within a properties block.
  __tests__/schema_management.test.js
  lib/test/NapariJsonSchemaExample.json
  src/lib/components/common/jschema/ObjectProperty.svelte
  src/lib/components/common/jschema/PropertiesBlock.svelte
  src/lib/components/common/jschema/schema_management.js
Due: eslint, prettier

Restrict panel height
  src/lib/components/workflow/ArgumentsSchema.svelte
Due: prettier

Export JSchema functions to enable interaction from outside the component.
  src/lib/components/common/jschema/JSchema.svelte
  src/lib/components/workflow/ArgumentsSchema.svelte
Due: prettier

Style adjustments
  src/lib/components/workflow/ArgumentsSchema.svelte
Due: prettier

Strip null, empty objects and arrays.
  __tests__/schema_management.test.js
  src/lib/components/common/jschema/JSchema.svelte
  src/lib/components/common/jschema/schema_management.js
  src/lib/components/workflow/ArgumentsSchema.svelte
Due: eslint, prettier

Create a deep copy of the data object to be stripped and validated.
  src/lib/components/common/jschema/JSchema.svelte
Due: prettier

Update JSchema data based on updated arguments from PATCH response.
  src/lib/components/common/jschema/JSchema.svelte
Due: prettier

Refactoring PropertyDiscriminator layout Refactoring NumberProperty layout
  src/lib/components/common/jschema/NumberProperty.svelte
  src/lib/components/common/jschema/PropertyDiscriminator.svelte
Due: prettier

Refactoring StringProperty layout Refactoring BooleanProperty layout
  src/lib/components/common/jschema/BooleanProperty.svelte
  src/lib/components/common/jschema/NumberProperty.svelte
  src/lib/components/common/jschema/StringProperty.svelte
Due: prettier

First draft of refactoring for ObjectProperty
  src/lib/components/common/jschema/ObjectProperty.svelte
Due: prettier

Update test JSON file (tests/data/workflow_to_import.json)
  tests/data/workflow_to_import.json
Due: prettier

Refactor layout of custom nested object properties
  src/lib/components/common/jschema/ObjectProperty.svelte
Due: prettier

Reduce padding within accordion body
  src/lib/components/common/jschema/ObjectProperty.svelte
Due: prettier

Rebase ArrayProperty layout
  src/lib/components/common/jschema/ArrayProperty.svelte
Due: prettier

Adjust array property layout of items
  src/lib/components/common/jschema/ArrayProperty.svelte
Due: prettier

Prevent display of "undefined" in string property component
  src/lib/components/common/jschema/StringProperty.svelte
Due: prettier

Prevent display of "undefined" in number and boolean property component
  src/lib/components/common/jschema/BooleanProperty.svelte
  src/lib/components/common/jschema/NumberProperty.svelte
Due: prettier

Path conditions:
  eslint: (any of: *.js) or (any of: *.ts)
  prettier: (((((any of: *.js) or (any of: *.ts)) or (any of: *.svelte)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
