Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

enrich query
  src/routes/v2/admin/tasks/+page.server.js
  src/routes/v2/admin/tasks/+page.svelte
Due: eslint, prettier

core true/false/unset
  src/routes/v2/admin/tasks/+page.svelte
Due: prettier

order filters
  src/routes/v2/admin/tasks/+page.svelte
Due: prettier

Improve stability of view_shared_jobs.spec.js
  tests/v2/workflows/view_shared_jobs.spec.js
Due: eslint, prettier

new columns
  components/src/lib/types/api.d.ts
  src/routes/v2/admin/tasks/+page.svelte
Due: eslint, prettier

Add sharding configuration to end-to-end tests
  .github/workflows/end_to_end_tests.yaml
  .gitignore
  playwright.config.js
Due: eslint, prettier

Minor fixes
  .github/workflows/end_to_end_tests.yaml
  CHANGELOG.md
  tests/v2/workflows/run_workflow_invalid_arguments.spec.js
  tests/v2/workflows/view_shared_jobs.spec.js
Due: eslint, prettier

test tests-info
  tests-info/data/11a05bba4c96baca6933306b87ceb61518a631fd.png
  tests-info/data/e1ad54bab758fa33e0622baabc1388c4aa12f434.markdown
  tests-info/index.html
Due: none

remove unused function
  src/routes/v2/admin/tasks/+page.svelte
Due: prettier

Update playwright.config.js
  playwright.config.js
Due: eslint, prettier

fix labels
  src/routes/v2/admin/tasks/+page.svelte
Due: prettier

fix test
  tests/v2/admin/tasks/admin_tasks.spec.js
Due: eslint, prettier

replace if with else-if [skip ci]
  src/routes/v2/admin/tasks/+page.svelte
Due: prettier

search by core in test
  tests/v2/admin/tasks/admin_tasks.spec.js
Due: eslint, prettier

search by active
  tests/v2/admin/tasks/admin_tasks.spec.js
Due: eslint, prettier

fix typo
  tests/v2/admin/tasks/admin_tasks.spec.js
Due: eslint, prettier

test search by active
  tests/v2/admin/tasks/admin_tasks.spec.js
Due: eslint, prettier

search by owner
  tests/v2/admin/tasks/admin_tasks.spec.js
Due: eslint, prettier

fix index
  src/routes/v2/admin/tasks/+page.svelte
Due: prettier

fix width for name column
  src/routes/v2/admin/tasks/+page.svelte
Due: prettier

use text-truncate
  src/routes/v2/admin/tasks/+page.svelte
Due: prettier

remove custom function
  src/routes/v2/admin/tasks/+page.svelte
Due: prettier

fix test
  tests/v2/tasks/tasks_filtering.spec.js
Due: eslint, prettier

add `white-space: nowrap` for th
  src/routes/v2/admin/tasks/+page.svelte
Due: prettier

changelog [skip ci]
  CHANGELOG.md
Due: prettier

changlog and version-compatibility
  CHANGELOG.md
  docs/version-compatibility.md
Due: prettier

1.28.4
  package-lock.json
  package.json
Due: prettier

Update CI to add playwright report to gh-pages
  .github/workflows/documentation.yaml
  CHANGELOG.md
  docs/development/index.md
  playwright.config.js
Due: eslint, prettier

Replace workflow_run with workflow_call
  .github/workflows/documentation.yaml
  .github/workflows/end_to_end_tests.yaml
  .github/workflows/gh_pages.yaml
Due: prettier

Move playwright-report link to correct section
  docs/development/index.md
  mkdocs.yml
Due: prettier

Remove outdated doc
  docs/examples.md
  mkdocs.yml
Due: prettier

Add status badges to README.md
  README.md
Due: prettier

Download playwright artifact before building documentation
  .github/workflows/documentation.yaml
Due: prettier

Set empty permissions to build job
  .github/workflows/documentation.yaml
Due: prettier

prettier
  sandbox/src/lib/components/JSchemaSandbox.svelte
  sandbox/src/lib/components/TaskManifestSandbox.svelte
  src/lib/components/v2/projects/ProjectsList.svelte
  src/lib/components/v2/tasks/AddSingleTask.svelte
  src/lib/components/v2/tasks/TaskEditModal.svelte
  src/lib/components/v2/templates/TemplateUpdateModal.svelte
  src/lib/components/v2/workflow/RunWorkflowModal.svelte
  src/routes/v2/admin/resources/create/+page.svelte
  src/routes/v2/projects/[projectId]/+page.svelte
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Reduced test flakiness
  tests/v2/tasks/tasks_filtering.spec.js
Due: eslint, prettier

Fix second-line indentation for tasks with long names in workflow page
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Reduce flakiness of e2e test admin_tasks.spec.js
  src/routes/v2/admin/tasks/+page.svelte
  tests/v2/admin/tasks/admin_tasks.spec.js
Due: eslint, prettier

CI config: always execute documentation job
  .github/workflows/gh_pages.yaml
Due: prettier

Update badges on README and update CHANGELOG [skip ci]
  CHANGELOG.md
  README.md
Due: prettier

Path conditions:
  eslint: (any of: *.js) or (any of: *.ts)
  prettier: (((((any of: *.js) or (any of: *.ts)) or (any of: *.svelte)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
