Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

.lintstagedrc.json:

{
	"*.js": ["eslint", "prettier"],
	"*.ts": ["eslint", "prettier"],
	"*.svelte": "prettier",
	"*.md": "prettier",
	"*.json": "prettier",
	"*.yaml": "prettier"
}

Introduce testing for schema management logic
  __tests__/schema_management.test.js
Due: eslint, prettier

Fix typo in log
  src/routes/tasks/+page.server.js
Due: eslint, prettier

Replace `version` with new attribute name `package_version`, in task collection (close #163)
  src/lib/components/tasks/TaskCollection.svelte
  src/lib/server/api/v1/task_api.js
Due: eslint, prettier

Rename one more `version` into `package_version` (close #163, again)
  src/lib/components/tasks/TaskCollection.svelte
Due: prettier

Add configuration example with domain name
  examples/README.md
  examples/config_2_with_domain/apache_proxy.md
  examples/config_2_with_domain/fractal_server.md
  examples/config_2_with_domain/fractal_web.md
Due: prettier

Fix ObjectProperty component initialization
  src/lib/components/common/jschema/ObjectProperty.svelte
Due: prettier

Rename utils module into schema_management.js
  __tests__/schema_management.test.js
  src/lib/components/common/jschema/JSchema.svelte
  src/lib/components/common/jschema/schema_management.js
Due: eslint, prettier

Export method from svelte component
  src/lib/components/common/jschema/PropertiesBlock.svelte
  src/lib/components/common/jschema/schema_management.js
Due: eslint, prettier

Fixed error introduced by removing index parameter
  src/lib/components/common/jschema/ArrayProperty.svelte
  src/lib/components/common/jschema/utils.js
Due: eslint, prettier

Remove unnecessary method param
  src/lib/components/common/jschema/ArrayProperty.svelte
  src/lib/components/common/jschema/utils.js
Due: eslint, prettier

Refactor PropertyDiscriminator, NumberProperty and StringProperty to use SchemaProperty
  src/lib/components/common/jschema/NumberProperty.svelte
  src/lib/components/common/jschema/PropertyDiscriminator.svelte
  src/lib/components/common/jschema/StringProperty.svelte
Due: prettier

Check whether a property is required or not
  src/lib/components/common/jschema/utils.js
Due: eslint, prettier

Introduced more tests to check schema management logic
  __tests__/schema_management.test.js
  lib/test/DefaultSchema.json
Due: eslint, prettier

Refactor nested schema properties management
  src/lib/components/common/jschema/ArrayProperty.svelte
  src/lib/components/common/jschema/utils.js
Due: eslint, prettier

Super minimal feedback on a property that is required
  src/lib/components/common/jschema/PropertyDiscriminator.svelte
Due: prettier

Correct the initialization of nested properties
  src/lib/components/common/jschema/utils.js
Due: eslint, prettier

Remove unnecessary logs
  src/lib/components/common/jschema/ArrayProperty.svelte
  src/lib/components/common/jschema/utils.js
Due: eslint, prettier

Update schema management test
  __tests__/schema_management.test.js
Due: eslint, prettier

Rename var in PropertyDiscriminator
  src/lib/components/common/jschema/PropertyDiscriminator.svelte
Due: prettier

Introducing external SchemaProperty class to manage properties state outside svelte components
  src/lib/components/common/jschema/ArrayProperty.svelte
  src/lib/components/common/jschema/PropertiesBlock.svelte
  src/lib/components/common/jschema/PropertyDiscriminator.svelte
  src/lib/components/common/jschema/utils.js
Due: eslint, prettier

Update property components with refactored props names
  src/lib/components/common/jschema/BooleanProperty.svelte
  src/lib/components/common/jschema/NumberProperty.svelte
  src/lib/components/common/jschema/PropertiesBlock.svelte
  src/lib/components/common/jschema/PropertyDiscriminator.svelte
  src/lib/components/common/jschema/StringProperty.svelte
Due: prettier

Update test file
  lib/test/DefaultSchema.json
Due: prettier

Fix linting errors
  src/lib/components/common/jschema/ObjectProperty.svelte
  src/lib/components/common/jschema/PropertyDiscriminator.svelte
Due: prettier

Stripe to-be-ignored schema properties from input schema
  src/lib/components/common/jschema/JSchema.svelte
  src/lib/components/common/jschema/schema_management.js
Due: eslint, prettier

Update lining ignore configs
  .eslintignore
  .prettierignore
Due: none

Unsaved changes in schema manager
  src/lib/components/common/jschema/JSchema.svelte
  src/lib/components/common/jschema/schema_management.js
Due: eslint, prettier

Correct a bug on array properties management
  __tests__/schema_management.test.js
  lib/test/ArraySchema.json
  src/lib/components/common/jschema/schema_management.js
Due: eslint, prettier

Fix typo in function name
  src/lib/components/common/jschema/JSchema.svelte
  src/lib/components/common/jschema/schema_management.js
Due: eslint, prettier

Also display job.end_timestamp (closes #171)
  src/routes/projects/[projectId]/jobs/+page.svelte
Due: prettier

Fix column width
  src/routes/projects/[projectId]/jobs/+page.svelte
Due: prettier

Rename column
  src/routes/projects/[projectId]/datasets/[datasetId]/+page.svelte
Due: prettier

In task-list table, remove source and include owner and version (ref #168)
  src/routes/tasks/+page.svelte
Due: prettier

Add new task attributes to task-info modal (ref #168)
  src/lib/components/tasks/TaskInfoModal.svelte
Due: prettier

Fix arguments of JSON.stringify
  src/lib/components/tasks/TaskInfoModal.svelte
Due: prettier

Check that required arguments are set, in runWorkflowModal (ref #170)
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Use `replaceEmptyString` when costructing the request body for `/api/v1/task/collect/pip/` (closes #162)
  src/lib/server/api/v1/task_api.js
Due: eslint, prettier

Remove empty lines
  src/lib/server/api/v1/task_api.js
Due: eslint, prettier
