Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

.lintstagedrc.json:

{
	"*.js": ["eslint", "prettier"],
	"*.ts": ["eslint", "prettier"],
	"*.svelte": "prettier",
	"*.md": "prettier",
	"*.json": "prettier",
	"*.yaml": "prettier"
}

Used new /api/v1/project/workflow/ and /api/v1/project/dataset/ endpoints
  __tests__/mock/jobs-list.js
  playwright.config.js
  src/lib/components/jobs/JobsList.svelte
  src/lib/components/projects/ProjectInfoModal.svelte
  src/lib/components/projects/ProjectsList.svelte
  src/lib/components/projects/controller.js
  src/lib/server/api/v1/dataset_api.js
  src/lib/server/api/v1/project_api.js
  src/lib/server/api/v1/workflow_api.js
  src/lib/stores/projectStores.js
  src/lib/types.d.ts
  src/routes/jobs/+page.server.js
  src/routes/jobs/+page.svelte
  src/routes/projects/+page.server.js
  src/routes/projects/+page.svelte
  src/routes/projects/[projectId]/+page.server.js
  src/routes/projects/[projectId]/+page.svelte
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.server.js
  src/routes/projects/[projectId]/workflows/[workflowId]/jobs/+page.server.js
  src/routes/proxy.js
Due: eslint, prettier

Updated project crud e2e test to check project info modal
  tests/create_project.spec.js
Due: eslint, prettier

Used new endpoints, used trailing slash in all the API calls
  playwright.config.js
  src/hooks.server.js
  src/lib/server/api/v1/auth_api.js
  src/lib/server/api/v1/dataset_api.js
  src/lib/server/api/v1/monitoring_api.js
  src/lib/server/api/v1/project_api.js
  src/lib/server/api/v1/workflow_api.js
  src/routes/jobs/+page.svelte
  src/routes/proxy.js
Due: eslint, prettier

Set playwright to stable version
  package-lock.json
  package.json
Due: prettier

Minor performance improvement
  src/lib/components/jobs/JobsList.svelte
  src/lib/components/jobs/TimestampBadge.svelte
Due: prettier

Added spinner while the page is loading
  src/routes/+layout.svelte
Due: prettier

Updated CHANGELOG.md
  CHANGELOG.md
Due: prettier

Used dumps object to remove some API calls, added more tests
  __tests__/JobsList.test.js
  __tests__/component_utilities.test.js
  __tests__/mock/jobs-list.js
  src/lib/common/component_utilities.js
  src/lib/components/jobs/JobInfoModal.svelte
  src/lib/components/jobs/JobsList.svelte
  src/lib/types.d.ts
  src/routes/jobs/+page.server.js
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
  src/routes/projects/[projectId]/workflows/[workflowId]/jobs/+page.server.js
  tests/jobs.spec.js
  tests/project_fixture.js
  tests/workflow_fixture.js
Due: eslint, prettier

Update CHANGELOG
  CHANGELOG.md
Due: prettier

Used workflow's jobs endpoint in job updater
  src/routes/projects/[projectId]/workflows/[workflowId]/jobs/+page.svelte
Due: prettier

Added delay on spinner animation
  src/routes/+layout.svelte
Due: prettier

Fix CHANGELOG
  CHANGELOG.md
Due: prettier

Extend AUTH_COOKIE_MAX_AGE in example env file
  .env.development
Due: none

Fixed jobs status badge color not updating
  src/lib/components/jobs/StatusBadge.svelte
Due: prettier

Improved jobs table layout for small screens
  src/lib/components/jobs/JobsList.svelte
Due: prettier

Fixed tests after job id column removal
  __tests__/JobsList.test.js
  tests/jobs.spec.js
Due: eslint, prettier

Added Jobs button in home page
  CHANGELOG.md
  src/routes/+page.svelte
Due: prettier

Changed job table columns order and set word break to header
  __tests__/JobsList.test.js
  src/lib/components/common/filterable/Th.svelte
  src/lib/components/jobs/JobsList.svelte
  tests/jobs.spec.js
Due: eslint, prettier

Fixes to existing tests
  tests/project_fixture.js
Due: eslint, prettier

Created generic UserEditor component (for edit or create), implemented user deletion
  src/lib/common/component_utilities.js
  src/lib/common/errors.js
  src/lib/components/admin/UserEditor.svelte
  src/lib/types.d.ts
  src/routes/admin/+page.svelte
  src/routes/admin/users/+page.svelte
  src/routes/admin/users/register/+page.svelte
Due: eslint, prettier

Minor fix on OAuth2 login
  src/routes/auth/login/oauth2/+layout.server.js
Due: eslint, prettier

Added user list page and started user edit form
  src/lib/components/common/BooleanIcon.svelte
  src/lib/server/api/v1/auth_api.js
  src/lib/server/api/v1/project_api.js
  src/lib/types.d.ts
  src/routes/+layout.svelte
  src/routes/admin/+page.svelte
  src/routes/admin/users/+page.server.js
  src/routes/admin/users/+page.svelte
  src/routes/admin/users/[userId]/+page.server.js
  src/routes/admin/users/[userId]/+page.svelte
Due: eslint, prettier

Prevented user self-deletion
  src/routes/admin/users/+page.svelte
Due: prettier

Added users CRUD e2e test2
  tests/users_crud.spec.js
Due: eslint, prettier

Added red border on admin area and other minor improvements
  src/lib/components/admin/UserEditor.svelte
  src/lib/components/common/BooleanIcon.svelte
  src/routes/+layout.svelte
Due: prettier

Forbidden access to non-admin users to admin pages
  src/hooks.server.js
Due: eslint, prettier

Added separated user info and edit page
  src/lib/server/api/v1/auth_api.js
  src/routes/admin/users/+page.svelte
  src/routes/admin/users/[userId]/+page.svelte
  src/routes/admin/users/[userId]/edit/+page.server.js
  src/routes/admin/users/[userId]/edit/+page.svelte
Due: eslint, prettier

Disabled delete user button
  src/routes/admin/users/+page.svelte
Due: prettier

Added user profile section
  src/lib/components/common/BooleanIcon.svelte
  src/routes/+layout.svelte
  src/routes/profile/+page.svelte
Due: prettier

Removed is_active, is_superuser and is_verified properties from the register-user form
  src/lib/components/admin/UserEditor.svelte
  src/routes/+layout.svelte
Due: prettier

Added e2e tests for users management and profile
  .gitignore
  src/lib/components/admin/UserEditor.svelte
  tests/profile.spec.js
  tests/users_crud.spec.js
Due: eslint, prettier

Added confirm dialog when changing superuser status
  src/lib/components/admin/UserEditor.svelte
Due: prettier

Added missing import
  src/hooks.server.js
Due: eslint, prettier

Added dropdown menu containing profile and logout links
  src/routes/+layout.svelte
  src/routes/profile/+page.svelte
  tests/login_logout.spec.js
  tests/profile.spec.js
Due: eslint, prettier

Prevented self edit of active/superuser/verified flags
  src/lib/components/admin/UserEditor.svelte
  tests/users_crud.spec.js
Due: eslint, prettier

Used new endpoints for retrieving current user and list of users
  CHANGELOG.md
  playwright.config.js
  src/hooks.server.js
  src/lib/server/api/v1/auth_api.js
  src/routes/+layout.server.js
Due: eslint, prettier

Add oauth details to docs
  docs/oauth2.md
Due: prettier

Publish mkdocs docs on github pages
  .github/workflows/documentation.yaml
  .gitignore
  docs/changelog.md
  docs/dependencies.md
  docs/development/dependencies.md
  docs/development/docs.md
  docs/development/index.md
  docs/development/json_schemas.md
  docs/development/precommit.md
  docs/development/structure.md
  docs/development/tests.md
  docs/doc-requirements.txt
  docs/examples.md
  docs/extra.css
  docs/index.md
  docs/json_schemas.md
  docs/oauth2.md
  docs/overrides/404.html
  docs/quickstart.md
  mkdocs.yml
Due: prettier
