Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

fix bug
  src/lib/components/common/ExpandableLog.svelte
Due: prettier

changelog [skip ci]
  CHANGELOG.md
Due: prettier

Update CHANGELOG.md and version-compatibility.md
  CHANGELOG.md
  docs/version-compatibility.md
Due: prettier

1.28.1
  package-lock.json
  package.json
Due: prettier

Remove Node 20 support
  .github/workflows/documentation.yaml
  .github/workflows/end_to_end_tests.yaml
  .github/workflows/github_release.yaml
  .github/workflows/lint_and_build.yaml
  .github/workflows/unit_tests.yaml
  CHANGELOG.md
  __tests__/v2/workflow_page.test.js
Due: eslint, prettier

filter is_core
  components/src/lib/tasks/FilteredTasksTable.svelte
  components/src/lib/tasks/task_group_utilities.js
  components/src/lib/types/api.d.ts
Due: eslint, prettier

boolean icon
  components/src/lib/tasks/FilteredTasksTable.svelte
Due: prettier

fractal-server branch
  playwright.config.js
Due: eslint, prettier

add column and filtering to admin page
  components/src/lib/types/api.d.ts
  src/routes/v2/admin/tasks/+page.svelte
Due: eslint, prettier

adapt to new bulk endpoints
  src/routes/v2/admin/tasks/+page.svelte
Due: prettier

admin page
  src/routes/v2/admin/tasks/+page.svelte
Due: prettier

remove unused import
  src/routes/v2/admin/tasks/+page.svelte
Due: prettier

button titles [skip ci]
  src/routes/v2/admin/tasks/+page.svelte
Due: prettier

discard changes to components/src/lib/tasks/FilteredTasksTable.svelte
  components/src/lib/tasks/FilteredTasksTable.svelte
Due: prettier

Update lint-staged
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier

Add version for actions/checkout
  .github/workflows/documentation.yaml
  .github/workflows/end_to_end_tests.yaml
  .github/workflows/github_release.yaml
  .github/workflows/lint_and_build.yaml
  .github/workflows/unit_tests.yaml
Due: prettier

Adapt to new slim-select behaviour
  src/lib/components/v2/projects/datasets/DatasetImagesTable.svelte
  tests/utils/utils.js
  tests/v2/datasets/images.spec.js
  tests/v2/workflows/run_mock_tasks.spec.js
  tests/v2/workflows/run_workflow_implicit_apply_filters.spec.js
  tests/v2/workflows/run_workflow_specify_type_filters.spec.js
  tests/v2/workflows/run_workflow_type_filters_priority.spec.js
  tests/v2/workflows/workflow_deselect_type_filter.spec.js
  tests/v2/workflows/workflow_image_filters_switch_dataset.spec.js
  tests/v2/workflows/workflow_task_runs.spec.js
  tests/v2/workflows/workflow_type_filters_images_status.spec.js
  tests/v2/workflows/workflow_unique_types_status.spec.js
Due: eslint, prettier

core-icon in task page
  components/src/lib/tasks/FilteredTasksTable.svelte
Due: prettier

coreTaskOnly state
  components/src/lib/tasks/FilteredTasksTable.svelte
Due: prettier

filter onlyCore ugly solution for #1170
  components/src/lib/tasks/FilteredTasksTable.svelte
Due: prettier

improved filterRows ref #1170
  components/src/lib/tasks/FilteredTasksTable.svelte
Due: prettier

check compliant version ref #1170
  components/src/lib/tasks/FilteredTasksTable.svelte
Due: prettier

simplify filterRows ref #1170
  components/src/lib/tasks/FilteredTasksTable.svelte
Due: prettier

restore line
  components/src/lib/tasks/FilteredTasksTable.svelte
Due: prettier

use ternary operator
  components/src/lib/tasks/FilteredTasksTable.svelte
Due: prettier

bulk make core
  src/routes/v2/admin/tasks/+page.svelte
Due: prettier

select all checkbox
  src/routes/v2/admin/tasks/+page.svelte
Due: prettier

Add @axe-core/playwright dependency
  package-lock.json
  package.json
Due: prettier

Add base test fixture with accessibility tests
  tests/base_fixture.js
  tests/v2/project_fixture.js
  tests/v2/workflow_fixture.js
Due: eslint, prettier

Fix contrast in top menu bar
  src/routes/+layout.svelte
Due: prettier

Fix nested interactive controls in workflow page
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

new FRACTAL_DISPLAY_CORE_TASK_FILTER env var
  .env
  .env.development
  components/src/lib/tasks/FilteredTasksTable.svelte
  docs/environment-variables.md
  docs/quickstart.md
  src/environment-variables.js
  src/lib/components/v2/workflow/AddWorkflowTaskModal.svelte
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.server.js
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
  src/routes/v2/tasks/+page.server.js
  src/routes/v2/tasks/+page.svelte
  tasks-list/src/routes/+page.js
  tasks-list/src/routes/+page.svelte
Due: eslint, prettier

avoid showOnlyCoreFiltering in task-list
  tasks-list/src/routes/+page.js
  tasks-list/src/routes/+page.svelte
Due: eslint, prettier

showOnlyCoreFiltering is string
  tasks-list/src/routes/+page.svelte
Due: prettier

Fix more contrast and nested buttons issues in workflow page
  components/src/lib/jschema/properties/BooleanProperty.svelte
  src/lib/components/v2/jobs/JobLogsModal.svelte
  src/lib/components/v2/workflow/ArgumentsSchema.svelte
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

fix test
  tests/v2/admin/tasks/admin_tasks.spec.js
Due: eslint, prettier

[DO NOT MERGE] Test backend branch without task-list endpoint
  playwright.config.js
Due: eslint, prettier

boolean with default true
  .env
  .env.development
  components/src/lib/tasks/FilteredTasksTable.svelte
  docs/environment-variables.md
  src/lib/components/v2/workflow/AddWorkflowTaskModal.svelte
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.server.js
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
  src/routes/v2/tasks/+page.server.js
  src/routes/v2/tasks/+page.svelte
  tasks-list/src/routes/+page.svelte
Due: eslint, prettier

Path conditions:
  eslint: (any of: *.js) or (any of: *.ts)
  prettier: (((((any of: *.js) or (any of: *.ts)) or (any of: *.svelte)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
