Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

Add LOG_CONFIG_FILE environment variable use config file for logging
  CHANGELOG.md
  __tests__/logger.test.js
  docs/environment-variables.md
  docs/quickstart.md
  src/environment-variables.js
  src/lib/server/logger.js
Due: eslint, prettier

fixed incorrect merge during rebase
  CHANGELOG.md
Due: prettier

fixed linting
  CHANGELOG.md
  __tests__/logger.test.js
Due: eslint, prettier

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update documentation.yaml
  .github/workflows/documentation.yaml
Due: prettier

Add base structure of help site
  .gitignore
  help/docs/datasets.md
  help/docs/extra.css
  help/docs/index.md
  help/docs/projects.md
  help/docs/workflows.md
  help/mkdocs.yml
  help/overrides/404.html
  help/requirements.txt
Due: prettier

Add fractal_link mkdocs macro
  help/docs/projects.md
  help/main.py
  help/mkdocs.yml
  help/requirements.txt
Due: prettier

Add environment variables to enable and configure help pages
  .env.development
  docs/environment-variables.md
  src/environment-variables.js
Due: eslint, prettier

Add top menu help links
  src/lib/common/component_utilities.js
  src/routes/+layout.svelte
  src/routes/v2/datasets/+page.server.js
  src/routes/v2/projects/+page.server.js
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.server.js
Due: eslint, prettier

Add link to help home page
  src/routes/+page.svelte
Due: prettier

Add help link inside a page
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Add help pages to docs; Update CI config
  .github/workflows/documentation.yaml
  .gitignore
  mkdocs.yml
Due: prettier

Add missing if
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Fix unit tests
  __tests__/component_utilities.test.js
  __tests__/v2/ImageAttributesTypesForm.test.js
  __tests__/v2/admin_task_groups_page.test.js
Due: eslint, prettier

change server branch
  playwright.config.js
Due: eslint, prettier

add in_use
  components/src/lib/types/api.d.ts
  src/lib/components/v2/tasks/TaskGroupsTable.svelte
Due: eslint, prettier

zensical
  docs/changelog.md
  docs/requirements.txt
  mkdocs.yml
  zensical.toml
Due: prettier

reduce requirements
  docs/requirements.txt
Due: none

pin zensical
  docs/requirements.txt
Due: none

Fix gha and docs
  .github/workflows/documentation.yaml
  docs/development/docs.md
Due: prettier

Add uv
  .github/workflows/documentation.yaml
  .gitignore
  pyproject.toml
  uv.lock
Due: prettier

Update CI config to archive test-results only if results are present
  .github/workflows/end_to_end_tests.yaml
Due: prettier

CHANGELOG [skip ci]
  CHANGELOG.md
Due: prettier

minor
  docs/development/docs.md
Due: prettier

Add `uv` to dependabot config
  .github/dependabot.yml
Due: none

Fix relative link to sandbox pages
  docs/sandbox-pages.md
Due: prettier

Merge all development subpages
  docs/development.md
  docs/development/coding-conventions.md
  docs/development/docs.md
  docs/development/error-handling.md
  docs/development/index.md
  docs/development/jschema.md
  docs/development/precommit.md
  docs/development/release.md
  docs/development/setup.md
  docs/development/structure.md
  docs/development/tests.md
  zensical.toml
Due: prettier

Update docs
  docs/development.md
  docs/quickstart.md
Due: prettier

Move help pages from mkdocs to zensical
  .github/workflows/documentation.yaml
  help/main.py
  help/mkdocs.yml
  help/requirements.txt
  help/zensical.toml
Due: prettier

license
  LICENSE
  zensical.toml
Due: none

remove slim
  src/lib/components/v2/workflow/AddWorkflowTaskModal.svelte
  src/lib/server/api/v2/task_api.js
  src/routes/healthcheck/+page.svelte
  src/routes/v2/tasks/+page.server.js
  src/routes/v2/tasks/management/+page.server.js
  src/routes/v2/tasks/management/+page.svelte
  tests/init.setup.js
  tests/utils/v2/task.js
Due: eslint, prettier

make core buttons
  src/lib/components/v2/tasks/TaskGroupManageModal.svelte
Due: prettier

reorganize docs
  zensical.toml
Due: none

CHANGELOG
  CHANGELOG.md
Due: prettier

Bump action
  .github/workflows/documentation.yaml
Due: prettier

Add config to generate minimal version of help pages
  .github/workflows/documentation.yaml
  help/minimal.toml
  help/overrides-minimal/404.html
  help/overrides-minimal/base.html
Due: prettier

Add HelpModal to display documentation pages
  src/lib/common/component_utilities.js
  src/lib/components/common/HelpModal.svelte
  src/lib/stores.js
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/v2/datasets/+page.server.js
  src/routes/v2/projects/+page.server.js
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.server.js
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: eslint, prettier

Add configuration to allow loading documentation in iframes
  serve-docs.py
  svelte.config.js
  vite.config.js
Due: eslint, prettier

Handle fractal-links in embedded iframe
  help/main.py
  help/minimal.toml
  help/overrides-minimal/base.html
  help/zensical.toml
  src/lib/components/common/HelpModal.svelte
  src/routes/+page.svelte
Due: prettier

Add build-docs.sh
  .github/workflows/documentation.yaml
  build-docs.sh
Due: prettier

Path conditions:
  eslint: (any of: *.js) or (any of: *.ts)
  prettier: (((((any of: *.js) or (any of: *.ts)) or (any of: *.svelte)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
