Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

.lintstagedrc.json:

{
	"*.js": ["eslint", "prettier"],
	"*.ts": ["eslint", "prettier"],
	"*.svelte": "prettier",
	"*.md": "prettier",
	"*.json": "prettier",
	"*.yaml": "prettier"
}

fix check
  src/routes/v2/admin/task-groups/+page.svelte
Due: prettier

fix test
  tests/v2/tasks/task_group_edit.spec.js
Due: eslint, prettier

Update help pages
  help/docs/workflows.md
  help/docs/workflows/index.md
  help/docs/workflows/task-list.md
  help/zensical.toml
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

1.28.5-a0
  package-lock.json
  package.json
Due: prettier

fix col size
  src/lib/components/v2/tasks/TaskGroupsTable.svelte
Due: prettier

test
  tests/v2/tasks/task_group_manage.spec.js
Due: eslint, prettier

cleanup project
  tests/v2/tasks/task_group_manage.spec.js
Due: eslint, prettier

Cleanup modal stuck at page change
  src/routes/+layout.svelte
Due: prettier

use getByRole
  tests/v2/tasks/task_group_manage.spec.js
Due: eslint, prettier

restore server branch
  playwright.config.js
Due: eslint, prettier

changelog
  CHANGELOG.md
Due: prettier

Back from modal close the modal
  src/routes/+layout.svelte
Due: prettier

Fix "This page is asking you to confirm that you want to leave" when navigating from help modal to fractal-pweb page
  src/lib/components/common/HelpModal.svelte
  src/lib/stores.js
  src/routes/+layout.svelte
Due: eslint, prettier

Use links with onclick for fractal-web links on docs
  help/main.py
  help/overrides-minimal/base.html
Due: none

fix check
  src/lib/components/v2/tasks/TaskGroupManageModal.svelte
Due: prettier

Fix help modal content vertical height on Chrome
  src/lib/components/common/HelpModal.svelte
Due: prettier

Add docs generation to release CI config
  .github/workflows/github_release.yaml
Due: prettier

Fix navigation from modal issue
  src/lib/components/common/HelpModal.svelte
  src/lib/stores.js
  src/routes/+layout.svelte
Due: eslint, prettier

1.28.5-a1
  package-lock.json
  package.json
Due: prettier

Fix CI config
  .github/workflows/github_release.yaml
Due: prettier

Use target="_blank" for fractal-links in docs pages; Added logos to links
  help/docs/extra-minimal.css
  help/docs/extra.css
  help/docs/fractal-logo-link.png
  help/main.py
  help/minimal.toml
  help/overrides-minimal/base.html
  serve-docs.py
  src/lib/components/common/HelpModal.svelte
  src/routes/+page.svelte
Due: prettier

add coreSuccessMessage
  src/lib/components/v2/tasks/TaskGroupManageModal.svelte
Due: prettier

move message to base page
  src/lib/components/v2/tasks/TaskGroupManageModal.svelte
  src/routes/v2/admin/task-groups/+page.svelte
Due: prettier

fix typo
  src/routes/v2/admin/task-groups/+page.svelte
Due: prettier

remove prop default
  src/lib/components/v2/tasks/TaskGroupManageModal.svelte
Due: prettier

Remove Cross-Origin-Embedder-Policy config to allow embedding YouTube videos
  help/docs/projects.md
  serve-docs.py
  src/hooks.server.js
Due: eslint, prettier

Add version parameter to iframe help link to prevent browser caching
  src/lib/components/common/HelpModal.svelte
Due: prettier

fix with comment
  src/lib/components/v2/tasks/TaskGroupManageModal.svelte
Due: prettier

test
  tests/v2/admin/tasks/admin_task_groups.spec.js
Due: eslint, prettier

changelog [skip ci]
  CHANGELOG.md
Due: prettier

fractal-server branch
  playwright.config.js
Due: eslint, prettier

Fix lintstaged config and CSS prettier
  .lintstagedrc.json
  .prettierignore
  help/docs/extra-minimal.css
  help/docs/extra.css
Due: prettier

1.28.5-a2
  package-lock.json
  package.json
Due: prettier

Minor changes to help pages
  help/docs/index.md
  help/docs/projects.md
  help/zensical.toml
Due: prettier

restore server main branch
  playwright.config.js
Due: eslint, prettier

Make entire task-groups core/not-core (#1213)
  CHANGELOG.md
  src/lib/components/v2/tasks/TaskGroupManageModal.svelte
  src/routes/v2/admin/task-groups/+page.svelte
  tests/v2/admin/tasks/admin_task_groups.spec.js
Due: eslint, prettier

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier

Update version-compatibility.md
  docs/version-compatibility.md
Due: prettier
