Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

1.29.0
  package-lock.json
  package.json
Due: prettier

Improve closing modal when clicking back
  src/lib/components/common/Modal.svelte
  src/routes/+layout.svelte
Due: prettier

Fix missing back in modal close
  src/lib/components/common/Modal.svelte
Due: prettier

Fix unit tests
  __tests__/v2/JobLogsModal.test.js
  __tests__/v2/projects_page.test.js
Due: eslint, prettier

Add new structure for concepts, reference & snippets
  help/README.md
  help/docs/_templates/concept-snippet.md
  help/docs/_templates/explanation-page.md
  help/docs/_templates/reference-page.md
  help/docs/concepts/datasets.md
  help/docs/concepts/projects.md
  help/docs/concepts/tasks.md
  help/docs/concepts/workflows.md
  help/docs/reference/dataset.md
  help/docs/reference/jobs.md
  help/docs/reference/project-overview.md
  help/docs/reference/project.md
  help/docs/reference/task-collection.md
  help/docs/reference/templates.md
  help/docs/reference/workflow.md
  help/includes/concepts/datasets.md
  help/includes/concepts/projects.md
  help/includes/concepts/tasks.md
  help/includes/concepts/workflows.md
  help/zensical.toml
Due: prettier

Move `help/docs_templates` to a path where zensical does not look for docs files
  help/_templates/concept-snippet.md
  help/_templates/explanation-page.md
  help/_templates/reference-page.md
Due: prettier

Remove old pages, add new structure
  help/docs/datasets.md
  help/docs/projects.md
  help/docs/workflows/index.md
  help/docs/workflows/task-list.md
  help/zensical.toml
Due: prettier

Fix base path for snippets
  help/zensical.toml
Due: none

Revert changes to modal closing on back button
  src/lib/components/common/Modal.svelte
  src/routes/+layout.svelte
Due: prettier

Revert "Fix base path for snippets"
  help/zensical.toml
Due: none

Rename snippets folder
  help/includes/concepts/datasets.md
  help/includes/concepts/projects.md
  help/includes/concepts/tasks.md
  help/snippets/datasets.md
  help/snippets/projects.md
  help/snippets/tasks.md
  help/snippets/workflows.md
Due: prettier

Fix snippets base path
  help/zensical.toml
Due: none

Use relative paths
  help/docs/reference/dataset.md
  help/docs/reference/jobs.md
  help/docs/reference/project-overview.md
  help/docs/reference/project.md
  help/docs/reference/task-collection.md
  help/docs/reference/templates.md
  help/docs/reference/workflow.md
Due: prettier

templates and README
  help/README.md
  help/_templates/concept-page.md
  help/_templates/reference-page.md
  help/_templates/snippet.md
Due: prettier

Fix relative paths
  help/docs/concepts/datasets.md
  help/docs/concepts/projects.md
  help/docs/concepts/tasks.md
  help/docs/concepts/workflows.md
Due: prettier

Update help links
  src/routes/v2/datasets/+page.server.js
  src/routes/v2/jobs/+page.server.js
  src/routes/v2/projects/+page.server.js
  src/routes/v2/projects/[projectId]/+page.server.js
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.server.js
  src/routes/v2/tasks/management/+page.server.js
  src/routes/v2/templates/+page.server.js
Due: eslint, prettier

Add HelpLink component
  src/lib/components/common/HelpLink.svelte
  src/routes/+layout.svelte
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Add some markdown extensions to minimal configuration
  help/minimal.toml
Due: none

Add target="_blank" to external links
  help/docs/index.md
Due: prettier

Add developer notes about writing user guide
  docs/development.md
Due: prettier

fractal-server branch
  playwright.config.js
Due: eslint, prettier

add in_use column"
  components/src/lib/types/api.d.ts
  src/routes/v2/admin/task-groups/+page.svelte
Due: eslint, prettier

'In use' filtering option
  src/routes/v2/admin/task-groups/+page.svelte
Due: prettier

fix typo
  src/routes/v2/admin/task-groups/+page.svelte
Due: prettier

Minor minimal.toml change
  help/minimal.toml
Due: none

test
  tests/v2/admin/tasks/admin_task_groups.spec.js
Due: eslint, prettier

changelog
  CHANGELOG.md
Due: prettier

add is_core to import flexibility
  components/src/lib/types/api.d.ts
  src/lib/components/v2/projects/workflow/WorkflowImportFlexibility.svelte
Due: eslint, prettier

'preferred' state
  components/src/lib/tasks/FilteredTasksTable.svelte
Due: prettier

Write dataset reference page with screenshots
  help/docs/assets/dataset/dataset.webp
  help/docs/assets/dataset/dataset_filters.webp
  help/docs/assets/dataset/image_options.webp
  help/docs/reference/dataset.md
  help/docs/reference/fractal_data.md
Due: prettier

Run prettier
  help/docs/reference/dataset.md
  help/docs/reference/fractal_data.md
Due: prettier

Move help button into li element
  src/routes/+layout.svelte
Due: prettier

Use same config file for minimal and full user guide
  build-docs.sh
  help/docs/extra-minimal.css
  help/docs/minimal.css
  help/main.py
  help/minimal.toml
  help/overrides-minimal/404.html
  help/overrides-minimal/base.html
  help/zensical.toml
Due: none

Fix eslint issue
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Improve build-docs.sh script
  build-docs.sh
Due: none

1.29.1-a0
  package-lock.json
  package.json
Due: prettier

Remove color switcher from user guide
  help/zensical.toml
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier

Update version-compatibility.md
  docs/version-compatibility.md
Due: prettier

1.29.1
  package-lock.json
  package.json
Due: prettier

Path conditions:
  eslint: (any of: *.js) or (any of: *.ts)
  prettier: (((((any of: *.js) or (any of: *.ts)) or (any of: *.svelte)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
