Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier

Update CHANGELOG.md and version-compatibility.md
  CHANGELOG.md
  docs/version-compatibility.md
Due: prettier

1.29.8
  package-lock.json
  package.json
Due: prettier

Adopt self-repository syntax in `gh_pages.yaml`
  .github/workflows/gh_pages.yaml
Due: prettier

Add .cache directory to .prettierignore
  .prettierignore
Due: none

Fix jest-dom types not recognized in tests after upgrade to Vitest 5
  jsconfig.json
Due: prettier

Fix running status not displayed
  src/lib/components/jobs/ImagesStatus.svelte
Due: prettier

Added more aria attributes to ImagesStatus
  src/lib/components/jobs/ImagesStatus.svelte
Due: prettier

Add unit test for ImagesStatus component
  __tests__/ImagesStatus.test.js
Due: eslint, prettier

Fix task for continuing workflow not updated after task reordering
  __tests__/mock/MockTasksOrderModal.svelte
  __tests__/v2/workflow_page.test.js
  src/lib/components/common/Modal.svelte
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: eslint, prettier

Remove mockClear in beforeEach: done automatically by vitest 5
  __tests__/logger.test.js
  __tests__/v2/AddSingleTask.test.js
  __tests__/v2/AdminTaskGroupActivities.test.js
  __tests__/v2/CreateDatasetModal.test.js
  __tests__/v2/RunWorkflowModal.test.js
  __tests__/v2/SqueueModal.test.js
  __tests__/v2/TaskCollection.test.js
  __tests__/v2/TaskGroupActivities.test.js
  __tests__/v2/UserEditor.test.js
  __tests__/v2/VersionUpdate.test.js
  __tests__/v2/admin_group_edit_page.test.js
  __tests__/v2/admin_task_groups_page.test.js
  __tests__/v2/projects_page.test.js
Due: eslint, prettier

Fix non-standard test-id attribute to data-testid
  src/lib/components/v2/workflow/JsonDiffViewer.svelte
Due: prettier

Restore bootstrap import deleted by mistake
  __tests__/v2/CreateDatasetModal.test.js
Due: eslint, prettier

1.29.9
  package-lock.json
  package.json
Due: prettier

npx sv migrate sveltekit-3 [components]
  components/jsconfig.json
  components/package-lock.json
  components/package.json
  components/svelte.config.js
  components/vite.config.js
Due: eslint, prettier

npx sv migrate sveltekit-3 [sandbox]
  sandbox/jsconfig.json
  sandbox/package-lock.json
  sandbox/package.json
  sandbox/svelte.config.js
  sandbox/vite.config.js
Due: eslint, prettier

npx sv migrate sveltekit-3 [tasks-list]
  tasks-list/jsconfig.json
  tasks-list/package-lock.json
  tasks-list/package.json
  tasks-list/svelte.config.js
  tasks-list/vite.config.js
Due: eslint, prettier

npx sv migrate sveltekit-3 [templates-list]
  templates-list/jsconfig.json
  templates-list/package-lock.json
  templates-list/package.json
  templates-list/svelte.config.js
  templates-list/vite.config.js
Due: eslint, prettier

Remove svelte-kit from components
  components/package-lock.json
  components/package.json
  components/vite.config.js
Due: eslint, prettier

Remove deprecated sveltekit typescript and alias config
  jsconfig.json
  vite.config.js
Due: eslint, prettier

Change import resolution [cause panic in Rolldown]
  package.json
  vite.config.js
Due: eslint, prettier

Add zensical macro to load YouTube video upon user consent
  help/docs/extra.css
  help/docs/extra.js
  help/docs/index.md
  help/main.py
Due: eslint, prettier

Bump zensical to v0.0.69
  pyproject.toml
  uv.lock
Due: none

Use font = false in zensical.toml
  help/zensical.toml
  zensical.toml
Due: none

Docs: retrieve logo and favicon from local files
  docs/assets/favicon.png
  docs/assets/fractal-logo.png
  help/docs/assets/favicon.png
  help/docs/assets/fractal-logo.png
  help/zensical.toml
  zensical.toml
Due: none

Add docs about youtube_video zensical macro
  docs/development.md
Due: prettier

Path conditions:
  eslint: (any of: *.js) or (any of: *.ts)
  prettier: (((((any of: *.js) or (any of: *.ts)) or (any of: *.svelte)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
