Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

Updated CHANGELOG.md
  CHANGELOG.md
Due: prettier

Fixed wrong field validation in create dataset modal
  __tests__/v2/CreateDatasetModal.test.js
  src/lib/components/v2/projects/datasets/CreateDatasetModal.svelte
Due: eslint, prettier

deploy: 4a2fc7012e8d214f239c22ea5203914b958c3609
  assets/fractal_favicon.png
  assets/fractal_logo.png
  changelog/index.html
  development/docs/index.html
  development/error-handling/index.html
  development/index.html
  development/jschema/index.html
  development/precommit/index.html
  development/release/index.html
  development/setup/index.html
  development/structure/index.html
  development/tests/index.html
  environment-variables/index.html
  examples/index.html
  fractal_server/index.html
  index.html
  oauth2/index.html
  quickstart/index.html
  sandbox-pages/index.html
  sandbox/_app/immutable/chunks/entry.CdyfrabV.js
  sandbox/_app/immutable/chunks/entry.cL_K6-_E.js
  sandbox/_app/immutable/entry/app.B0kZzeUf.js
  sandbox/_app/immutable/entry/app.Dae9hGvR.js
  sandbox/_app/immutable/entry/start.DG4Wp4Xg.js
  sandbox/_app/immutable/entry/start._6ZLBC-W.js
  sandbox/_app/immutable/nodes/1.CM7h6o0x.js
  sandbox/_app/immutable/nodes/1.cTOuARih.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
  version-compatibility/index.html
Due: eslint, prettier

Updated CHANGELOG.md and version-compatibility.md
  CHANGELOG.md
  docs/version-compatibility.md
Due: prettier

1.10.0
  package-lock.json
  package.json
Due: prettier

deploy: 908328933ce0b87347596bee26b88363b7414926
  changelog/index.html
  sandbox/_app/immutable/chunks/entry.BOLK7NsR.js
  sandbox/_app/immutable/chunks/entry.CdyfrabV.js
  sandbox/_app/immutable/entry/app.B0kZzeUf.js
  sandbox/_app/immutable/entry/app.DcUAsmgV.js
  sandbox/_app/immutable/entry/start.Bn7Q-P8h.js
  sandbox/_app/immutable/entry/start.DG4Wp4Xg.js
  sandbox/_app/immutable/nodes/1.DbsiIae6.js
  sandbox/_app/immutable/nodes/1.cTOuARih.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
  version-compatibility/index.html
Due: eslint, prettier

Fixed wrong workflow tasks order after task version update
  CHANGELOG.md
  __tests__/v2/AddWorkflowTaskModal.test.js
  __tests__/v2/TaskCollection.test.js
  __tests__/v2/VersionUpdate.test.js
  playwright.config.js
  src/lib/components/v2/workflow/VersionUpdate.svelte
  src/lib/components/v2/workflow/VersionUpdateFixArgs.svelte
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
  tests/v2/task_version_update.spec.js
Due: eslint, prettier

deploy: d03448b30fe2145c2ea7e19c2a30cc882f00aabe
  changelog/index.html
  sandbox/_app/immutable/chunks/entry.BOLK7NsR.js
  sandbox/_app/immutable/chunks/entry.CGOcQ89B.js
  sandbox/_app/immutable/entry/app.DcUAsmgV.js
  sandbox/_app/immutable/entry/app.DnYsqfE4.js
  sandbox/_app/immutable/entry/start.1pHkH1u5.js
  sandbox/_app/immutable/entry/start.Bn7Q-P8h.js
  sandbox/_app/immutable/nodes/1.DPAFy0V1.js
  sandbox/_app/immutable/nodes/1.DbsiIae6.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
Due: eslint, prettier

1.10.1
  package-lock.json
  package.json
Due: prettier

deploy: 24cce0a9710c85b53965eeada335acdcafa6b992
  changelog/index.html
  sandbox/_app/immutable/chunks/entry.Bs7qNNhY.js
  sandbox/_app/immutable/chunks/entry.CGOcQ89B.js
  sandbox/_app/immutable/entry/app.DnYsqfE4.js
  sandbox/_app/immutable/entry/app.mqze-pAI.js
  sandbox/_app/immutable/entry/start.1pHkH1u5.js
  sandbox/_app/immutable/entry/start.DbBuPWA5.js
  sandbox/_app/immutable/nodes/1.Bee3D7eZ.js
  sandbox/_app/immutable/nodes/1.DPAFy0V1.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
  version-compatibility/index.html
Due: eslint, prettier

Updated task collections logic and created task group activities pages
  __tests__/v2/TaskCollection.test.js
  __tests__/v2/TaskGroupActivities.test.js
  src/lib/common/component_utilities.js
  src/lib/common/errors.js
  src/lib/components/v2/tasks/TaskCollection.svelte
  src/lib/components/v2/tasks/TaskGroupActivities.svelte
  src/lib/components/v2/tasks/TaskGroupActivityLogsModal.svelte
  src/lib/components/v2/tasks/task_group_utilities.js
  src/lib/types-v2.d.ts
  src/routes/v2/admin/+page.svelte
  src/routes/v2/admin/jobs/+page.svelte
  src/routes/v2/admin/task-groups/activities/+page.server.js
  src/routes/v2/admin/task-groups/activities/+page.svelte
  src/routes/v2/tasks/activities/+page.svelte
  tests/v2/admin_task_group_activities.spec.js
  tests/v2/collect_mock_tasks.setup.js
  tests/v2/task_group_activities.spec.js
Due: eslint, prettier

AlertError refactoring
  __tests__/StandardErrorAlert.test.js
  docs/development/error-handling.md
  src/lib/common/errors.js
  src/lib/components/common/StandardErrorAlert.svelte
  src/lib/components/v2/admin/UserEditor.svelte
  src/lib/components/v2/jobs/JobInfoModal.svelte
  src/lib/components/v2/jobs/JobsList.svelte
  src/lib/components/v2/projects/CreateWorkflowModal.svelte
  src/lib/components/v2/projects/ProjectDatasetsList.svelte
  src/lib/components/v2/projects/ProjectInfoModal.svelte
  src/lib/components/v2/projects/ProjectsList.svelte
  src/lib/components/v2/projects/WorkflowsList.svelte
  src/lib/components/v2/projects/datasets/DatasetFiltersModal.svelte
  src/lib/components/v2/tasks/TaskGroupsTable.svelte
  src/lib/components/v2/workflow/AddWorkflowTaskModal.svelte
  src/lib/components/v2/workflow/ArgumentsSchema.svelte
  src/lib/components/v2/workflow/InputFiltersTab.svelte
  src/lib/components/v2/workflow/MetaPropertiesForm.svelte
  src/lib/components/v2/workflow/RunWorkflowModal.svelte
  src/lib/components/v2/workflow/VersionUpdate.svelte
  src/lib/components/v2/workflow/task_form_utils.js
  src/lib/components/v2/workflow/version-checker.js
  src/routes/auth/login/+page.svelte
  src/routes/v2/admin/groups/+page.svelte
  src/routes/v2/admin/groups/[groupId]/edit/+page.svelte
  src/routes/v2/admin/jobs/+page.svelte
  src/routes/v2/admin/jobs/healthcheck/+page.svelte
  src/routes/v2/admin/task-groups/+page.svelte
  src/routes/v2/admin/tasks/+page.svelte
  src/routes/v2/admin/users/+page.svelte
  src/routes/v2/jobs/+page.svelte
  src/routes/v2/projects/[projectId]/+page.svelte
  src/routes/v2/projects/[projectId]/datasets/[datasetId]/+page.svelte
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/jobs/+page.svelte
Due: eslint, prettier

Added task group manage button
  src/lib/components/v2/tasks/TaskCollection.svelte
  src/lib/components/v2/tasks/TaskGroupActivities.svelte
  src/lib/components/v2/tasks/TaskGroupEditModal.svelte
  src/lib/components/v2/tasks/TaskGroupManageModal.svelte
  src/lib/components/v2/tasks/TaskGroupsTable.svelte
Due: prettier

Updated tests
  __tests__/v2/TaskGroupActivities.test.js
  tests/v2/admin_groups.spec.js
  tests/v2/group_utils.js
  tests/v2/task_group_edit.spec.js
  tests/v2/task_group_manage.spec.js
  tests/v2/viewer_paths.spec.js
Due: eslint, prettier

Added "Number of files" and "Size (kB)" to task group info modal
  src/lib/components/v2/tasks/TaskGroupInfoModal.svelte
  src/lib/components/v2/tasks/TaskGroupsTable.svelte
  src/lib/types-v2.d.ts
Due: eslint, prettier

Improved task group modal
  .github/workflows/end_to_end_tests.yaml
  CHANGELOG.md
  playwright.config.js
  src/lib/components/v2/tasks/TaskGroupActivityLogsModal.svelte
  src/lib/components/v2/tasks/TaskGroupManageModal.svelte
  tests/v2/task_group_manage.spec.js
Due: eslint, prettier

Updated create dataset modal
  src/lib/components/v2/projects/datasets/CreateDatasetModal.svelte
Due: prettier

Test improvements
  tests/utils.js
  tests/v2/add_single_task.spec.js
  tests/v2/admin_task_group_activities.spec.js
  tests/v2/import_export_args.spec.js
  tests/v2/task_group_activities.spec.js
  tests/v2/task_version_update.spec.js
Due: eslint, prettier

Renamed "task group" to task-group
  CHANGELOG.md
  __tests__/v2/TaskGroupActivities.test.js
  __tests__/v2/admin_task_groups_page.test.js
  src/lib/components/v2/tasks/TaskGroupActivities.svelte
  src/lib/components/v2/tasks/TaskGroupActivityLogsModal.svelte
  src/lib/components/v2/tasks/task_group_utilities.js
  src/routes/v2/admin/task-groups/+page.server.js
  src/routes/v2/admin/task-groups/+page.svelte
  tests/v2/admin_task_group_activities.spec.js
  tests/v2/task_group_activities.spec.js
Due: eslint, prettier

Changed task-group size from kB to MB
  src/lib/components/v2/tasks/TaskGroupInfoModal.svelte
Due: prettier

deploy: ee08ef0ac376b63b38ee456c77ae25b3e536521d
  changelog/index.html
  development/error-handling/index.html
  sandbox/_app/immutable/chunks/entry.Bs7qNNhY.js
  sandbox/_app/immutable/chunks/entry.trRGZC7n.js
  sandbox/_app/immutable/entry/app.DDUrshdH.js
  sandbox/_app/immutable/entry/app.mqze-pAI.js
  sandbox/_app/immutable/entry/start.DNiN-C5P.js
  sandbox/_app/immutable/entry/start.DbBuPWA5.js
  sandbox/_app/immutable/nodes/1.BJEhGFiP.js
  sandbox/_app/immutable/nodes/1.Bee3D7eZ.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
Due: eslint, prettier

1.11.0-a0
  package-lock.json
  package.json
Due: prettier

Removed usage of DB_ENGINE and SQLITE_PATH variables
  examples/config_1/fractal_server.md
  examples/config_2_with_domain/fractal_server.md
  examples/config_3_with_domain_and_https/fractal_server.md
  examples/config_4_with_domain_and_https/fractal_server.md
  tests/.fractal_server.env
Due: prettier

Displayed timestamp_last_used property in task-group info modal
  src/lib/components/v2/tasks/TaskGroupInfoModal.svelte
  src/lib/types-v2.d.ts
  src/routes/v2/admin/task-groups/+page.svelte
Due: eslint, prettier

Updated CHANGELOG.md
  CHANGELOG.md
  playwright.config.js
Due: eslint, prettier

Displayed "-" when venv_size_in_kB=null
  src/lib/components/v2/tasks/TaskGroupInfoModal.svelte
  src/routes/v2/admin/task-groups/+page.svelte
Due: prettier

Viewer paths page improvements
  CHANGELOG.md
  src/routes/viewer-paths/+page.server.js
  src/routes/viewer-paths/+page.svelte
  tests/v2/viewer_paths.spec.js
Due: eslint, prettier

Added manage buttons on admin task-groups page
  CHANGELOG.md
  playwright.config.js
  src/lib/components/v2/tasks/TaskGroupActivities.svelte
  src/lib/components/v2/tasks/TaskGroupManageModal.svelte
  src/lib/components/v2/tasks/TaskGroupsTable.svelte
  src/routes/v2/admin/task-groups/+page.svelte
  tests/v2/admin_task_group_manage.spec.js
Due: eslint, prettier

Added last used timestamp filter to task-group admin page
  CHANGELOG.md
  playwright.config.js
  src/routes/v2/admin/task-groups/+page.svelte
  tests/v2/admin_task_groups.spec.js
Due: eslint, prettier

deploy: 2d13474b44838ea7856c083a391ac42dde716397
  changelog/index.html
  sandbox/_app/immutable/chunks/entry.BgYlGqO_.js
  sandbox/_app/immutable/chunks/entry.trRGZC7n.js
  sandbox/_app/immutable/entry/app.CU0QRc2z.js
  sandbox/_app/immutable/entry/app.DDUrshdH.js
  sandbox/_app/immutable/entry/start.2Mk59Igj.js
  sandbox/_app/immutable/entry/start.DNiN-C5P.js
  sandbox/_app/immutable/nodes/1.BJEhGFiP.js
  sandbox/_app/immutable/nodes/1.zCoV7EbQ.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
Due: eslint, prettier

1.11.0-a1
  package-lock.json
  package.json
Due: prettier

Used new viewer paths endpoint and added download token button
  CHANGELOG.md
  playwright.config.js
  src/lib/server/api/auth_api.js
  src/routes/profile/+page.svelte
  src/routes/profile/token/+server.js
  src/routes/viewer-paths/+page.server.js
  src/routes/viewer-paths/+page.svelte
  tests/download_token_test.spec.js
Due: eslint, prettier

Updated env test file
  tests/.fractal_server.env
Due: none

Minor changes
  src/routes/viewer-paths/+page.svelte
Due: prettier

1.11.0-a2
  package-lock.json
  package.json
Due: prettier

deploy: 36cd99348f98e1809d0414d67d66f6eb564d0a67
  changelog/index.html
  sandbox/_app/immutable/chunks/entry.BgYlGqO_.js
  sandbox/_app/immutable/chunks/entry.Ds7G36ZB.js
  sandbox/_app/immutable/entry/app.CGuASBOG.js
  sandbox/_app/immutable/entry/app.CU0QRc2z.js
  sandbox/_app/immutable/entry/start.2Mk59Igj.js
  sandbox/_app/immutable/entry/start.DlJbqEYB.js
  sandbox/_app/immutable/nodes/1.Dslav8It.js
  sandbox/_app/immutable/nodes/1.zCoV7EbQ.js
  sandbox/_app/version.json
  sandbox/index.html
  search/search_index.json
  sitemap.xml.gz
Due: eslint, prettier

Implemented removal of users from group
  src/lib/components/v2/admin/UserEditor.svelte
  src/routes/v2/admin/groups/[groupId]/edit/+page.svelte
  tests/v2/admin_groups.spec.js
Due: eslint, prettier

Implemented import of user settings from another user
  __tests__/user_utilities.test.js
  __tests__/v2/admin_group_edit_page.test.js
  src/lib/components/admin/user_utilities.js
  src/lib/components/v2/admin/UserEditor.svelte
  src/lib/components/v2/admin/UserSettingsImportModal.svelte
  tests/v2/admin_groups.spec.js
  tests/v2/admin_import_user_settings.spec.js
  tests/v2/user_utils.js
Due: eslint, prettier

Path conditions:
  eslint: (any of: *.js) or (any of: *.ts)
  prettier: (((((any of: *.js) or (any of: *.ts)) or (any of: *.svelte)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
