Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

Refactored get available tasks
  src/lib/server/api/v1/task_api.js
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
  src/routes/projects/[projectId]/workflows/[workflowId]/tasks/+server.js
Due: eslint, prettier

Refactored stop job
  src/lib/server/api/v1/auth_api.js
  src/lib/server/api/v1/monitoring_api.js
  src/routes/projects/[projectId]/jobs/+page.svelte
  src/routes/projects/[projectId]/jobs/[jobId]/+server.js
Due: eslint, prettier

Refactored job info modal, job logs modal, task collection log modal. Removed from local storage task collections returning 404
  lib/fractal-server/.gitignore
  src/lib/components/jobs/JobInfoModal.svelte
  src/lib/components/jobs/JobLogsModal.svelte
  src/lib/components/tasks/TaskCollection.svelte
  src/lib/components/tasks/TaskCollectionLogsModal.svelte
  src/routes/projects/[projectId]/jobs/+page.svelte
Due: prettier

Shown details on project properties update errors
  src/routes/projects/[projectId]/+page.svelte
Due: prettier

Refactored download workflow job log
  src/lib/server/api/v1/workflow_api.js
  src/routes/projects/[projectId]/jobs/+page.svelte
  src/routes/projects/[projectId]/jobs/[jobId]/+server.js
  src/routes/projects/[projectId]/jobs/[jobId]/logs/+server.js
Due: eslint, prettier

Changed trailing slash usage in proxy endpoints
  src/routes/api/[...path]/+server.js
Due: eslint, prettier

Fixed removal from local storage task collections returning 404
  src/lib/components/tasks/TaskCollection.svelte
Due: prettier

Minor fixes
  src/lib/components/jobs/JobInfoModal.svelte
  src/lib/components/jobs/JobLogsModal.svelte
  src/lib/components/tasks/TaskCollectionLogsModal.svelte
Due: prettier

Fixed last_task_index issue
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Minor fix
  src/lib/server/api/v1/project_api.js
Due: eslint, prettier

Updated documentation
  docs/structure.md
Due: prettier

Minor change
  CHANGELOG.md
Due: prettier

Remove use of `fractal-server` deployment-type variable (close #297)
  lib/fractal-server/.fractal_server.env
  src/routes/+layout.server.js
  src/routes/+layout.svelte
Due: eslint, prettier

Update CHANGELOG
  CHANGELOG.md
Due: prettier

Add BSD3 license
  LICENSE
Due: none

Update Changelog
  CHANGELOG.md
Due: prettier

Added new generic Modal component
  src/lib/components/common/ConfirmActionButton.svelte
  src/lib/components/common/Modal.svelte
  src/lib/components/jobs/JobInfoModal.svelte
  src/lib/components/jobs/JobLogsModal.svelte
  src/lib/components/projects/ProjectInfoModal.svelte
  src/lib/components/projects/WorkflowsList.svelte
  src/lib/components/tasks/TaskCollectionLogsModal.svelte
  src/lib/components/tasks/TaskEditModal.svelte
  src/lib/components/tasks/TaskInfoModal.svelte
  src/lib/stores/taskStores.js
  src/lib/types.d.ts
  src/routes/projects/[projectId]/+page.svelte
  src/routes/projects/[projectId]/datasets/[datasetId]/+page.svelte
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: eslint, prettier

Add github-release action (close #304)
  .github/workflows/github_release.yml
Due: none

Fixed modal backdrop issue when using back button
  src/routes/+layout.svelte
Due: prettier

Completed modal refactoring
  src/lib/components/common/Modal.svelte
  src/lib/components/projects/WorkflowImport.svelte
  src/lib/components/projects/WorkflowsList.svelte
  src/routes/projects/[projectId]/datasets/[datasetId]/+page.svelte
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Updated CHANGELOG.md
  CHANGELOG.md
Due: prettier

Executed 'npm audit fix' to fix vulnerability detected by dependabot
  package-lock.json
Due: prettier

Updated types.d.ts
  src/lib/types.d.ts
Due: eslint, prettier

Made modals more consistent using named slots
  src/lib/components/common/ConfirmActionButton.svelte
  src/lib/components/common/Modal.svelte
  src/lib/components/jobs/JobInfoModal.svelte
  src/lib/components/jobs/JobLogsModal.svelte
  src/lib/components/projects/ProjectInfoModal.svelte
  src/lib/components/projects/WorkflowsList.svelte
  src/lib/components/tasks/TaskCollectionLogsModal.svelte
  src/lib/components/tasks/TaskEditModal.svelte
  src/lib/components/tasks/TaskInfoModal.svelte
  src/routes/projects/[projectId]/+page.svelte
  src/routes/projects/[projectId]/datasets/[datasetId]/+page.svelte
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Automatically hided create dataset resource and edit project modals on success
  src/lib/components/common/StandardDismissableAlert.svelte
  src/routes/projects/[projectId]/+page.svelte
  src/routes/projects/[projectId]/datasets/[datasetId]/+page.svelte
Due: prettier

Standardized modal automatic closure on success
  src/lib/components/common/StandardDismissableAlert.svelte
  src/lib/components/projects/WorkflowImport.svelte
  src/lib/components/projects/WorkflowsList.svelte
  src/routes/projects/[projectId]/+page.svelte
  src/routes/projects/[projectId]/datasets/[datasetId]/+page.svelte
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Minor improvement
  src/lib/components/common/Modal.svelte
Due: prettier

Removed unused imports
  src/lib/components/projects/ProjectInfoModal.svelte
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Clean up github actions in view of improved testing
  .github/workflows/end_to_end_tests.yaml
  .github/workflows/lint_and_build.yaml
  .github/workflows/unit_tests.yaml
Due: prettier

Add minimal docs about testing
  README.md
  docs/tests.md
Due: prettier

Added modal for creating/updating datasets
  src/lib/components/projects/CreateUpdateDatasetModal.svelte
  src/lib/components/projects/ProjectDatasetsList.svelte
  src/lib/types.d.ts
  src/routes/projects/[projectId]/datasets/[datasetId]/+page.svelte
Due: eslint, prettier

Fixed dataset type issues
  src/lib/components/projects/CreateUpdateDatasetModal.svelte
  src/lib/types.d.ts
Due: eslint, prettier

Improved error handling in case of partial creation
  src/lib/common/errors.js
  src/lib/components/projects/CreateUpdateDatasetModal.svelte
Due: eslint, prettier

Removed edit logic from dataset view page
  src/lib/components/common/StandardDismissableAlert.svelte
  src/lib/components/projects/CreateUpdateDatasetModal.svelte
  src/lib/types.d.ts
  src/routes/projects/[projectId]/datasets/[datasetId]/+page.svelte
Due: eslint, prettier

Displayed fractal-web version in the footer
  src/routes/+layout.svelte
  vite.config.js
Due: eslint, prettier

0.6.0
  package-lock.json
  package.json
Due: prettier

Include `v` in tag filter, in github action for github releases
  .github/workflows/github_release.yml
Due: none

Path conditions:
  eslint: (any of: *.js) or (any of: *.ts)
  prettier: (((((any of: *.js) or (any of: *.ts)) or (any of: *.svelte)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
