Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

Root JSchema refactored component
  src/lib/components/common/jschema/JSchema.svelte
Due: prettier

PropertiesBlock structure component
  src/lib/components/common/jschema/PropertiesBlock.svelte
Due: prettier

PropertyDiscriminator structure component
  src/lib/components/common/jschema/PropertyDiscriminator.svelte
Due: prettier

Json schema utilities module
  src/lib/components/common/jschema/utils.js
Due: eslint, prettier

JSchema leaf properties components
  src/lib/components/common/jschema/ArrayProperty.svelte
  src/lib/components/common/jschema/BooleanProperty.svelte
  src/lib/components/common/jschema/NumberProperty.svelte
  src/lib/components/common/jschema/ObjectProperty.svelte
  src/lib/components/common/jschema/PropertyDiscriminator.svelte
  src/lib/components/common/jschema/StringProperty.svelte
Due: prettier

Nestable properties blocks within accordions
  src/lib/components/common/jschema/PropertiesBlock.svelte
  src/lib/components/common/jschema/PropertyDiscriminator.svelte
Due: prettier

Enable testing the JSchema component with custom inputs
  src/lib/components/common/jschema/JSchema.svelte
Due: prettier

Minor fixes in JSchema component
  src/lib/components/common/jschema/JSchema.svelte
Due: prettier

Minor UI enhancement in PropertyDiscriminator
  src/lib/components/common/jschema/PropertyDiscriminator.svelte
Due: prettier

Delete example page / Introduce sandbox page
  src/routes/sandbox/jsonschema/+page.svelte
  src/routes/tasks/example/+page.svelte
Due: prettier

Redirect from sandbox if environment is not development
  src/routes/sandbox/+layout.js
Due: eslint, prettier

Add a value to array property
  src/lib/components/common/jschema/ArrayProperty.svelte
Due: prettier

Introduce properties values management and update
  src/lib/components/common/jschema/ArrayProperty.svelte
  src/lib/components/common/jschema/BooleanProperty.svelte
  src/lib/components/common/jschema/JSchema.svelte
  src/lib/components/common/jschema/NumberProperty.svelte
  src/lib/components/common/jschema/ObjectProperty.svelte
  src/lib/components/common/jschema/PropertiesBlock.svelte
  src/lib/components/common/jschema/PropertyDiscriminator.svelte
  src/lib/components/common/jschema/StringProperty.svelte
Due: prettier

Remove unused logs
  src/lib/components/common/jschema/PropertiesBlock.svelte
  src/lib/components/common/jschema/PropertyDiscriminator.svelte
Due: prettier

Make a deep copy of a schema to solve an object reference
  src/lib/components/common/jschema/utils.js
Due: eslint, prettier

Set default values for resolved properties references
  src/lib/components/common/jschema/PropertyDiscriminator.svelte
Due: prettier

Set default value in context for object properties
  src/lib/components/common/jschema/ObjectProperty.svelte
Due: prettier

Correctly initialize the default value for array properties
  src/lib/components/common/jschema/ArrayProperty.svelte
Due: prettier

Minor refactors in JSchema component
  src/lib/components/common/jschema/JSchema.svelte
Due: prettier

An array property should transfer the $ref property related to the items type
  src/lib/components/common/jschema/ArrayProperty.svelte
Due: prettier

Minor layout changes
  src/lib/components/common/jschema/NumberProperty.svelte
  src/lib/components/common/jschema/PropertyDiscriminator.svelte
  src/lib/components/common/jschema/StringProperty.svelte
Due: prettier

Update JSchema component description
  src/lib/components/common/jschema/JSchema.svelte
Due: prettier

Remove deprecated components
  src/lib/components/common/TaskArgument.svelte
  src/lib/components/common/TaskArgumentProperty.svelte
  src/lib/components/common/TaskSchema.svelte
  src/lib/components/common/TaskSchemaProperty.svelte
  src/lib/components/common/TaskSchemaPropertyItems.svelte
Due: prettier

Remove deleted svelte component
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

New SchemaInput helper component to improve sandbox experience
  src/lib/components/common/jschema/JSchema.svelte
  src/lib/components/common/jschema/SchemaInput.svelte
  src/routes/sandbox/jsonschema/+page.svelte
Due: prettier

Introduce structured JSON Schema validation capabilities with AJV
  src/lib/common/jschema_validation.js
  src/lib/components/common/jschema/JSchema.svelte
Due: eslint, prettier

Update eslint configs since using ecma 2022 constructs within a client module
  .eslintrc.cjs
Due: none

Correct missing definition import
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Leave jsonSchema empty at page load
  src/routes/sandbox/jsonschema/+page.svelte
Due: prettier

Introduce unit testing capabilities with Vitest
  __tests__/json_validator.test.js
  lib/test/ChannelInvalidJsonData.json
  lib/test/ChannelInvalidJsonSchema.json
  lib/test/ChannelJsonData.json
  lib/test/ChannelJsonSchema.json
  package-lock.json
  package.json
  vite.config.js
Due: eslint, prettier

Update vitest configuration
  vite.config.js
Due: eslint, prettier

Include unit testing step in gh 'Check and build' action
  .github/workflows/check_and_build.yaml
Due: prettier

Introduce more testing for empty data objects
  __tests__/json_validator.test.js
Due: eslint, prettier

Add required file to run vitests
  lib/test/DefaultSchema.json
Due: prettier

Update JSchema schemaData prop on reactive updates
  src/lib/components/common/jschema/JSchema.svelte
  src/routes/sandbox/jsonschema/+page.svelte
Due: prettier

Remove a list item from an array property
  src/lib/components/common/jschema/ArrayProperty.svelte
Due: prettier

Export method saveChanges
  src/lib/components/common/jschema/JSchema.svelte
Due: prettier

Mark an element that has changed visually
  src/lib/components/common/jschema/NumberProperty.svelte
Due: prettier

Move the definition of context actions for schema management within a SchemaManager class
  src/lib/components/common/jschema/utils.js
Due: eslint, prettier

Update JSchema components to use SchemaManager instance from context
  src/lib/components/common/jschema/ArrayProperty.svelte
  src/lib/components/common/jschema/BooleanProperty.svelte
  src/lib/components/common/jschema/JSchema.svelte
  src/lib/components/common/jschema/NumberProperty.svelte
  src/lib/components/common/jschema/ObjectProperty.svelte
  src/lib/components/common/jschema/PropertiesBlock.svelte
  src/lib/components/common/jschema/PropertyDiscriminator.svelte
  src/lib/components/common/jschema/StringProperty.svelte
Due: prettier

Path conditions:
  eslint: (any of: *.js) or (any of: *.ts)
  prettier: (((((any of: *.js) or (any of: *.ts)) or (any of: *.svelte)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
