Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

.lintstagedrc.json:

{
	"*.js": ["eslint", "prettier"],
	"*.ts": ["eslint", "prettier"],
	"*.svelte": "prettier",
	"*.md": "prettier",
	"*.json": "prettier",
	"*.yaml": "prettier"
}

all white spaces -> null
  src/routes/v2/projects/[projectId]/+page.svelte
Due: prettier

test edit project
  tests/v2/projects/create_project.spec.js
Due: eslint, prettier

changelog [skip ci]
  CHANGELOG.md
Due: prettier

improve test
  tests/v2/projects/create_project.spec.js
Due: eslint, prettier

use nullifyEmptyStrings
  src/routes/v2/projects/[projectId]/+page.svelte
Due: prettier

restore fractal-server main branch
  playwright.config.js
Due: eslint, prettier

Add UI for project.description (#1118)
  CHANGELOG.md
  components/src/lib/types/api.d.ts
  src/lib/components/v2/projects/ProjectInfoModal.svelte
  src/lib/components/v2/projects/ProjectsList.svelte
  src/lib/components/v2/projects/SharedProjectInfoModal.svelte
  src/routes/v2/projects/[projectId]/+page.svelte
  tests/v2/projects/create_project.spec.js
Due: eslint, prettier

Update svelte and eslint dependencies
  components/package-lock.json
  components/package.json
  package-lock.json
  package.json
  sandbox/package-lock.json
  sandbox/package.json
  tasks-list/package-lock.json
  tasks-list/package.json
  templates-list/package-lock.json
  templates-list/package.json
Due: prettier

Fix eslint suggestions
  components/src/lib/jschema/properties/CollapsibleProperty.svelte
  eslint.config.js
  src/lib/components/v2/admin/ProfileEditor.svelte
  src/lib/components/v2/admin/UserEditor.svelte
  src/lib/components/v2/projects/ProjectsList.svelte
  src/lib/components/v2/projects/workflow/CreateWorkflowModal.svelte
  src/lib/components/v2/projects/workflow/WorkflowsList.svelte
  src/lib/components/v2/tasks/TaskGroupManageModal.svelte
  src/lib/components/v2/templates/TemplateCreateModal.svelte
  src/lib/components/v2/templates/TemplatesTable.svelte
  src/routes/+layout.svelte
  src/routes/auth/login/oauth2/+page.svelte
  src/routes/healthcheck/+page.svelte
  src/routes/v2/admin/groups/+page.svelte
  src/routes/v2/admin/resources/create/+page.svelte
  src/routes/v2/admin/task-groups/[taskGroupId]/reset/+page.svelte
  src/routes/v2/projects/[projectId]/workflows/[workflowId]/+page.svelte
  templates-list/src/lib/TemplatesList.svelte
Due: eslint, prettier

Minor fixes
  eslint.config.js
  src/lib/components/v2/admin/ProfileEditor.svelte
  src/lib/components/v2/admin/UserEditor.svelte
  src/lib/components/v2/projects/ProjectsList.svelte
  tests/v2/admin/tasks/admin_task_group_manage.spec.js
Due: eslint, prettier

Fix CodeQL warning
  components/src/lib/jschema/jschema_updater.js
Due: eslint, prettier

prettier
  src/lib/components/v2/tasks/CustomEnvTask.svelte
  src/routes/v2/admin/projects/+page.svelte
  src/routes/viewer-paths/+page.svelte
Due: prettier

Mark workflow_page.test.js as flaky
  __tests__/v2/workflow_page.test.js
Due: eslint, prettier

Update .github/dependabot.yml
  .github/dependabot.yml
  .github/workflows/unit_tests.yaml
Due: prettier

Update dependabot.yml and update lint-staged lib
  .github/dependabot.yml
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier

More eslint fixes
  components/src/lib/common/FormBuilder.svelte
  components/src/lib/jschema/JSchema.svelte
  components/src/lib/jschema/form_manager.js
  src/lib/components/v2/admin/ProfileEditor.svelte
  src/lib/components/v2/jobs/JobsList.svelte
  src/lib/components/v2/projects/workflow/WorkflowImportFlexibility.svelte
  src/lib/components/v2/tasks/AddSingleTask.svelte
  src/lib/components/v2/templates/TemplatesTable.svelte
  src/routes/v2/admin/resources/[resourceId]/edit/+page.svelte
  src/routes/v2/admin/resources/create/+page.svelte
Due: eslint, prettier

Update dependabot.yml
  .github/dependabot.yml
Due: none

prettier
  .github/dependabot.yml
Due: none

Update documentation.yaml [skip ci]
  .github/workflows/documentation.yaml
Due: prettier

Update end_to_end_tests.yaml [skip ci]
  .github/workflows/end_to_end_tests.yaml
Due: prettier

Update github_release.yaml [skip ci]
  .github/workflows/github_release.yaml
Due: prettier

Update unit_tests.yaml [skip ci]
  .github/workflows/unit_tests.yaml
Due: prettier

Update lint_and_build.yaml [skip ci]
  .github/workflows/lint_and_build.yaml
Due: prettier

Lock lint-staged to v16 (requires node 22)
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier

Lock typescript to v5
  .github/dependabot.yml
  components/package-lock.json
  components/package.json
  package-lock.json
  package.json
  sandbox/package-lock.json
  sandbox/package.json
  tasks-list/package-lock.json
  tasks-list/package.json
  templates-list/package-lock.json
  templates-list/package.json
Due: prettier

Lock marked to v7
  .github/dependabot.yml
  components/package-lock.json
  components/package.json
  package-lock.json
  package.json
Due: prettier

Minor fix on e2e tests
  tests/v2/admin/settings/admin_settings.spec.js
  tests/v2/tasks/pixi.spec.js
Due: eslint, prettier

docs / changelog
  CHANGELOG.md
  docs/version-compatibility.md
Due: prettier

1.27.10
  package-lock.json
  package.json
Due: prettier

docs/version-compatibility.md
  docs/version-compatibility.md
Due: prettier

Add PUBLIC_FRACTAL_VOLE_VIEWER_URL and Vol-E viewer buttons
  .github/workflows/end_to_end_tests.yaml
  docs/environment-variables.md
  docs/quickstart.md
  src/environment-variables.js
  src/lib/assets/logo-allen.svg
  src/lib/assets/logo-vizarr.svg
  src/lib/components/v2/projects/datasets/DatasetImagesTable.svelte
  src/routes/+layout.svelte
  src/routes/v2/projects/[projectId]/datasets/[datasetId]/+page.svelte
  src/routes/viewer-paths/+page.svelte
  tests/v2/datasets/view_plate.spec.js
  tests/v2/tasks/task_version_update.spec.js
Due: eslint, prettier

Fix eslint issue
  src/lib/components/v2/projects/datasets/DatasetImagesTable.svelte
  src/routes/v2/projects/[projectId]/datasets/[datasetId]/+page.svelte
Due: prettier

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier

Removed useless check
  src/lib/components/v2/projects/datasets/DatasetImagesTable.svelte
Due: prettier

1.27.11-a0
  package-lock.json
  package.json
Due: prettier

Imported bootstrap and bootstrap-icons using package.json
  __tests__/v2/CreateDatasetModal.test.js
  __tests__/v2/JobLogsModal.test.js
  __tests__/v2/UserEditor.test.js
  __tests__/v2/projects_page.test.js
  package-lock.json
  package.json
  sandbox/package-lock.json
  sandbox/package.json
  sandbox/src/app.html
  sandbox/src/routes/+layout.svelte
  src/app.html
  src/routes/+layout.svelte
  tasks-list/package-lock.json
  tasks-list/package.json
  tasks-list/src/app.html
  tasks-list/src/routes/+layout.svelte
  tasks-list/src/routes/+page.svelte
  templates-list/package-lock.json
  templates-list/package.json
  templates-list/src/app.html
  templates-list/src/lib/TemplatesList.svelte
  templates-list/src/routes/+layout.svelte
Due: eslint, prettier
