Repository fractal-analytics-platform/fractal-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

.lintstagedrc.json:

{
	"*.js": ["eslint", "prettier"],
	"*.ts": ["eslint", "prettier"],
	"*.svelte": "prettier",
	"*.md": "prettier",
	"*.json": "prettier",
	"*.yaml": "prettier"
}

Update docs about fractal-server
  docs/fractal_server.md
Due: prettier

Improve docs
  docs/contribute.md
  lib/fractal-server/README.md
Due: prettier

Fix typo
  lib/test_tasks/README.md
Due: prettier

Introduced A to B on task execution - ref #89
  src/lib/server/api/v1/workflow_api.js
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: eslint, prettier

Add PR template
  .github/pull_request_template.md
Due: prettier

Used drop down menu for first and last task - ref #89
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Updated CHANGELOG
  CHANGELOG.md
Due: prettier

Enabled selection of second task without selecting the first - ref #89
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
Due: prettier

Handled enable/disable of create buttons
  src/lib/common/component_utilities.js
  src/lib/components/projects/ProjectDatasetsList.svelte
  src/lib/components/projects/ProjectsList.svelte
  src/lib/components/projects/WorkflowsList.svelte
  src/routes/projects/[projectId]/datasets/[datasetId]/+page.svelte
Due: eslint, prettier

Remove Info page (ref #243)
  src/routes/+layout.svelte
  src/routes/info/+page.js
  src/routes/info/+page.svelte
Due: eslint, prettier

BROKEN simplify footer (to do: re-center version string)
  src/routes/+layout.svelte
Due: prettier

Skeleton of new home page
  src/routes/+page.svelte
Due: prettier

Sent only modified properties to workflow task meta; Fixed error propagation
  src/lib/common/errors.js
  src/lib/components/workflow/MetaPropertiesForm.svelte
  src/lib/server/api/v1/workflow_api.js
  src/routes/projects/[projectId]/workflows/[workflowId]/+page.svelte
  src/routes/projects/[projectId]/workflows/[workflowId]/tasks/[taskId]/+server.js
Due: eslint, prettier

Minor fix to error payload
  src/lib/components/workflow/task_form_utils.js
Due: eslint, prettier

Removed unused parameter
  src/lib/components/workflow/MetaPropertiesForm.svelte
Due: prettier

Implemented task deletion
  src/lib/server/api/v1/task_api.js
  src/routes/tasks/+page.svelte
  src/routes/tasks/[taskId]/+server.js
Due: eslint, prettier

Implemented editing of task
  src/lib/common/component_utilities.js
  src/lib/components/tasks/TaskEditModal.svelte
  src/lib/components/tasks/TaskInfoModal.svelte
  src/lib/components/workflow/MetaPropertiesForm.svelte
  src/lib/server/api/v1/task_api.js
  src/lib/stores/taskStores.js
  src/routes/tasks/+page.svelte
  src/routes/tasks/[taskId]/+server.js
Due: eslint, prettier

Task modal improvements
  CHANGELOG.md
  src/lib/components/tasks/TaskEditModal.svelte
  src/lib/components/tasks/TaskInfoModal.svelte
Due: prettier

Disabled update button if required fields are missing
  src/lib/components/tasks/TaskEditModal.svelte
Due: prettier

Added comment
  src/routes/tasks/+page.svelte
Due: prettier

Fixes unknown prop error on saveChanges - ref #266
  CHANGELOG.md
  src/lib/components/common/jschema/JSchema.svelte
Due: prettier

Removed slim-select map reference - ref #258
  static/slimselect.css
Due: none

Homepage changes
  .env.development
  src/routes/+layout.svelte
  src/routes/+page.svelte
Due: prettier

Fixed logout issue
  src/lib/server/api/v1/auth_api.js
  src/routes/auth/login/+page.server.js
  src/routes/auth/logout/+page.svelte
  src/routes/auth/token/logout/+server.js
Due: eslint, prettier

Improve home-page contents
  src/routes/+page.svelte
Due: prettier

Used dynamic env
  src/routes/+page.svelte
Due: prettier

Add env-variables example to docs
  .env.development
  docs/contribute.md
Due: prettier

Update CHANGELOG
  CHANGELOG.md
Due: prettier

Added email of logged in user on top menu bar
  src/routes/+layout.svelte
Due: prettier

Fixed button appearance - close #200
  src/lib/components/projects/ProjectDatasetsList.svelte
  src/lib/components/projects/WorkflowsList.svelte
Due: prettier

Update example json file for workflow-import
  tests/data/workflow_to_import.json
Due: prettier

Added workflow name override on workflow import
  src/lib/components/projects/WorkflowImport.svelte
  src/routes/projects/[projectId]/+page.server.js
Due: eslint, prettier

Renamed button labels
  src/lib/components/projects/ProjectsList.svelte
  src/routes/projects/[projectId]/datasets/[datasetId]/+page.svelte
Due: prettier

Minor change
  src/lib/components/projects/WorkflowsList.svelte
Due: prettier

Clean up CHANGELOG
  CHANGELOG.md
Due: prettier
